<div class='tiff-staged'>
    <h1>You have been redirected to a new tab.</h1>
    <p>The image is not available for download yet.</p>
    <p>This page will refresh every minute.  The image will download when it is available.</p>
</div>