<div class='tiff-staged'>
    <h1>You have been redirected to a new tab.</h1>
    <p id='download-instructions'>The image is not available for download yet.  The image will download when it is available. Due to the size of the TIFF file, this process may take some time. Please leave the tab open until download is complete. Thank you for your patience.</p>
</div>