$black: #000000;
$white: #ffffff;

$darkest_grey: #222222;
$dark_grey: #4a4a4a;
$medium_grey: #7b736b;
$light_grey: #dddddd;
$lighter_grey: #f5f6f6;
$lightest_grey: #f9f9f9;
$border_grey: #cccccc;

$yale_blue: #043669;
$light_blue: #006EF5;
$lighter_blue: #009cff;