$black: #000000;
$darkest_grey: #222222;
$dark_grey: #4a4a4a;
$medium_grey: #978d85;
$light_grey: #dddddd;
$lightest_grey: #f9f9f9;
$white: #ffffff;
$yale_blue: #043669;
$light_blue: #3399ff;
$lighter_blue: #009cff;