// primary typeface
@font-face {
  font-family: 'YaleNew-Roman';
  src:  url(https://www.yale.edu/sites/all/themes/yale_blue/fonts/yalenew-roman-webfont.woff2);
}

@font-face {
  font-family: 'YaleNew-Italic';
  src:  url(https://environment.yale.edu/assets/eye/common/webfonts/yalenew-italic-webfont.ttf);
}

// secondary typeface
@font-face {
  font-family: 'Mallory-Light';
  src:  url(https://www.yale.edu/sites/all/themes/yale_blue/fonts_new/Mallory/Mallory/Mallory-Light.woff);
}

@font-face {
  font-family: 'Mallory-LightItalic';
  src:  url(https://www.yale.edu/sites/all/themes/yale_blue/fonts_new/Mallory/Mallory/Mallory-LightItalic.woff);
}

@font-face {
  font-family: 'Mallory-Medium';
  src:  url(https://www.yale.edu/sites/all/themes/yale_blue/fonts_new/Mallory/Mallory/Mallory-Medium.woff);
}


$yaleRoman: YaleNew-Roman;
$yaleItalic: YaleNew-Italic;
$malloryLight: Mallory-Light;
$malloryLightItalic: Mallory-LightItalic;
$malloryMedium: Mallory-Medium;
