// primary typeface
@font-face {
  font-family: 'YaleNew-Bold';
  src: url(https://static.yalepages.org/fonts/yaledisplay/YaleNew-Bold.otf);
}

@font-face {
  font-family: 'YaleNew-BoldItalic';
  src: url(https://static.yalepages.org/fonts/yaledisplay/YaleNew-BoldItalic.otf);
}

@font-face {
  font-family: 'YaleNew-Italic';
  src: url(https://static.yalepages.org/fonts/yaledisplay/YaleNew-Italic.otf);
}

@font-face {
  font-family: 'YaleNew-Roman';
  src: url(https://static.yalepages.org/fonts/yaledisplay/YaleNew-Roman.otf);
}

// secondary typeface
@font-face {
  font-family: 'Mallory-Bold';
  src: url(https://static.yalepages.org/fonts/mallory/Mallory-Bold.woff);
}

@font-face {
  font-family: 'Mallory-BoldItalic';
  src: url(https://static.yalepages.org/fonts/mallory/Mallory-BoldItalic.woff);
}

@font-face {
  font-family: 'Mallory-Book';
  src: url(https://static.yalepages.org/fonts/mallory/Mallory-Book.woff);
}

@font-face {
  font-family: 'Mallory-BookItalic';
  src: url(https://static.yalepages.org/fonts/mallory/Mallory-BookItalic.woff);
}

@font-face {
  font-family: 'Mallory-Light';
  src: url(https://static.yalepages.org/fonts/mallory/Mallory-Light.woff);
}

@font-face {
  font-family: 'Mallory-LightItalic';
  src: url(https://static.yalepages.org/fonts/mallory/Mallory-LightItalic.woff);
}

@font-face {
  font-family: 'Mallory-Medium';
  src: url(https://static.yalepages.org/fonts/mallory/Mallory-Medium.woff);
}

@font-face {
  font-family: 'Mallory-MediumItalic';
  src: url(https://static.yalepages.org/fonts/mallory/Mallory-MediumItalic.woff);
}

// TODO(alishaevn): update the 2 fonts below with the correct url once we have them
@font-face {
  font-family: 'MalloryMP-Medium';
  src:  url(https://www.yale.edu/sites/all/themes/yale_blue/fonts_new/Mallory/Mallory/Mallory-Medium.woff);
}

@font-face {
  font-family: 'MalloryMP-Black';
  src:  url(https://www.yale.edu/sites/all/themes/yale_blue/fonts_new/Mallory/Mallory/Mallory-Medium.woff);
}


$yale_bold: YaleNew-Bold;
$yale_bold_italic: YaleNew-BoldItalic;
$yale_italic: YaleNew-Italic;
$yale_roman: YaleNew-Roman;
$mallory_bold: Mallory-Bold;
$mallory_bold_italic: Mallory-BoldItalic;
$mallory_book: Mallory-Book;
$mallory_book_italic: Mallory-BookItalic;
$mallory_light: Mallory-Light;
$mallory_light_italic: Mallory-LightItalic;
$mallory_medium: Mallory-Medium;
$mallory_medium_italic: Mallory-MediumItalic;
$mallory_mp_medium: MalloryMP-Medium;
$mallory_mp_black: MalloryMP-Black;