version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.5-stretch-node
    executor: ruby/default
    steps:
      - checkout
      - run:
          name: install bundler
          command: |
            gem update --system
            gem install bundler
            bundle config set path 'vendor/bundle'
      - ruby/bundle-install
      - run:
          name: rspec
          command: bundle exec rspec spec
