version: 2.1
orbs:
  docker: circleci/docker@1.0.1

jobs:
  build:
    docker:
      - image: yalelibraryit/dc-blacklight
        environment:
            POSTGRES_DB: blacklight_yul_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_HOST: localhost
      - image: yalelibraryit/dc-solr:79a71ec
        command: bash -c 'precreate-core blacklight-test /opt/config; exec solr -f'
      - image: circleci/postgres:9.5-alpine-ram
        environment:
            POSTGRES_DB: blacklight_yul_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Rubocop
          command: bundle exec rubocop --parallel
      - run:
          name: rspec
          command:  |
            bundle exec rspec
      #
      # @todo in a future iteration, build a docker image tagged with the commit hash
      #   and push to docker hub
      #
      # - run:
      #     name: build and push
      #     command:
