jobs:

  build-and-push:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - docker/build:
          image: yalelibraryit/dc-blacklight
      - docker/push:
          image: yalelibraryit/dc-blacklight
  run-tests:
    docker:
      # Image pulled from registry
      - image: yalelibraryit/dc-blacklight:$CIRCLE_SHA1
        environment:
            POSTGRES_HOST: localhost
            POSTGRES_DB: yul_dc_management_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            SOLR_CORE: blacklight-test
            SOLR_URL: http://localhost:8983/solr
      - image: yalelibraryit/dc-solr:79a71ec
        command: bash -c 'precreate-core blacklight-test /opt/config; exec solr -f'
      - image: circleci/postgres:9.5-alpine-ram
        environment:
            POSTGRES_DB: yul_dc_management_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Rubocop
          command: bundle exec rubocop --parallel
      - run:
          name: rspec
          # Excludes tests that require Yale VPN access
          command:  |
            bundle exec rspec --tag ~vpn_only:true
  publish-latest:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - docker/build:
          image: yalelibraryit/dc-blacklight:master
      - docker/push:
          image: yalelibraryit/dc-blacklight:master
orbs:
  docker: circleci/docker@1.0.1
version: 2.1
workflows:
  commit:
    jobs:
      - build-and-push:
          context: yul-dc
      - run-tests:
          requires:
            - build-and-push
      - publish-latest:
          context: yul-dc
          requires:
            - build-and-push
            - run-tests
          filters:
            branches:
              only: master
