commands:
  docker-tag:
    description: "Add a new tag to a docker image that has already been pulled"
    parameters:
      from_tag:
        type: string
        default: $CIRCLE_SHA1
      to_tag:
        type: string
        default: "main"
      image:
        type: string
    steps:
      - run: >
          docker tag <<parameters.image>>:<<parameters.from_tag>> <<parameters.image>>:<<parameters.to_tag>>

jobs:
  build-and-push:
    executor: docker/docker
    steps:
      - setup_remote_docker:
          version: 19.03.13
      - checkout
      - docker/check
      - docker/build:
          image: yalelibraryit/dc-blacklight
          cache_from: yalelibraryit/dc-blacklight:main
      - docker/push:
          image: yalelibraryit/dc-blacklight
  run-tests:
    docker:
      # Image pulled from registry
      - image: yalelibraryit/dc-blacklight:$CIRCLE_SHA1
        environment:
            POSTGRES_HOST: localhost
            POSTGRES_DB: blacklight_yul_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            SOLR_CORE: blacklight-test
            SOLR_TEST_URL: http://localhost:8983/solr/blacklight-test
      - image: yalelibraryit/dc-solr:v1.0.3
        command: bash -c 'precreate-core blacklight-test /opt/config; exec solr -f'
      - image: circleci/postgres:9.5-alpine-ram
        environment:
            POSTGRES_DB: blacklight_yul_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
    executor: docker/docker
    steps:
      - setup_remote_docker
      - run:
          name: Rubocop
          command: |
            cd /home/app/webapp && bundle exec rubocop --parallel
      - run:
          name: rspec
          # Excludes tests that require Yale VPN access
          command: |
            mkdir /tmp/test-results
            cd /home/app/webapp && bundle exec rspec $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
      - deploy:
          command: curl -k https://coveralls.io/webhook?repo_token=$COVERALLS_REPO_TOKEN -d "payload[build_num]=$CIRCLE_BUILD_NUM&payload[status]=done"

  publish-latest:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - docker/check
      - docker/pull:
          images: yalelibraryit/dc-blacklight:$CIRCLE_SHA1
            # Dockerhub tags allow alphanumeric characters, periods, underscores, and hyphens.
      # This run step makes CLEAN_BRANCH, the branch name with all forbidden characters removed,
      # available to subsequent steps.
      - run: |
          echo "export CLEAN_BRANCH=`echo $CIRCLE_BRANCH |sed 's#[^[:alnum:]._-]##g'`" >> $BASH_ENV
      - docker-tag:
          image: yalelibraryit/dc-blacklight
          from_tag: $CIRCLE_SHA1
          to_tag: $CLEAN_BRANCH
      - docker/push:
          image: yalelibraryit/dc-blacklight
          tag: $CLEAN_BRANCH
  publish-github-release:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - run: |
          ./bin/wait-for-docker-image yalelibraryit/dc-blacklight $CIRCLE_SHA1
      - docker/pull:
          images: yalelibraryit/dc-blacklight:$CIRCLE_SHA1
      - docker-tag:
          image: yalelibraryit/dc-blacklight
          from_tag: $CIRCLE_SHA1
          to_tag: $CIRCLE_TAG
      - docker/push:
          image: yalelibraryit/dc-blacklight
          tag: $CIRCLE_TAG

orbs:
  docker: circleci/docker@1.0.1
version: 2.1
workflows:
  commit:
    jobs:
      - build-and-push:
          context: yul-dc
      - run-tests:
          requires:
            - build-and-push
      - publish-latest:
          context: yul-dc
          requires:
            - build-and-push
            - run-tests
      - publish-github-release:
          context: yul-dc
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
