commands:
  docker-tag:
    description: "Add a new tag to a docker image that has already been pulled"
    parameters:
      from_tag:
        type: string
        default: $CIRCLE_SHA1
      to_tag:
        type: string
        default: "master"
      image:
        type: string
    steps:
      - run: >
          docker tag <<parameters.image>>:<<parameters.from_tag>> <<parameters.image>>:<<parameters.to_tag>>

jobs:
  build-and-push:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - docker/pull:
          images: yalelibraryit/dc-blacklight:master
       - docker/build:
          image: yalelibraryit/dc-blacklight
      - docker/push:
          image: yalelibraryit/dc-blacklight
  run-tests:
    docker:
      # Image pulled from registry
      - image: yalelibraryit/dc-blacklight:$CIRCLE_SHA1
        environment:
            POSTGRES_HOST: localhost
            POSTGRES_DB: blacklight_yul_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            SOLR_CORE: blacklight-core
            SOLR_URL: http://localhost:8983/solr/blacklight-core
      - image: yalelibraryit/dc-solr:79a71ec
        command: bash -c 'precreate-core blacklight-core /opt/config; exec solr -f'
      - image: circleci/postgres:9.5-alpine-ram
        environment:
            POSTGRES_DB: blacklight_yul_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
    executor: docker/docker
    steps:
      - setup_remote_docker
      - run:
          name: Rubocop
          command: bundle exec rubocop --parallel
      - run:
          name: rspec
          # Excludes tests that require Yale VPN access
          command:  |
            bundle exec rspec --tag ~vpn_only:true
  publish-latest:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - docker/check
      - docker/pull:
          images: yalelibraryit/dc-blacklight:$CIRCLE_SHA1
      - docker-tag:
          image: yalelibraryit/dc-blacklight
          from_tag: $CIRCLE_SHA1
          to_tag: $CIRCLE_BRANCH 
      - docker/push:
          image: yalelibraryit/dc-blacklight
          tag: $CIRCLE_BRANCH
  publish-github-release:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - docker/check
      - docker/pull:
          images: yalelibraryit/dc-blacklight:$CIRCLE_SHA1
      - docker-tag:
          image: yalelibraryit/dc-blacklight
          from_tag: $CIRCLE_SHA1
          to_tag: $CIRCLE_TAG
      - docker/push:
          image: yalelibraryit/dc-blacklight
          tag: $CIRCLE_TAG

orbs:
  docker: circleci/docker@1.0.1
version: 2.1
workflows:
  commit:
    jobs:
      - build-and-push:
          context: yul-dc
      - run-tests:
          requires:
            - build-and-push
      - publish-latest:
          context: yul-dc
          requires:
            - build-and-push
            - run-tests
      - publish-github-release:
          context: yul-dc
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/

