@import '../theme/*';

.lg-btn {
  font-size: 20px;
  line-height: 16px;
  padding: 16px 25px;
  font-family: $mallory_mp_medium;
}

.lg-btn:focus {
  color: #fff;
}

.sm-btn {
  font-size: 14px;
  padding: 10.5px 16px;
  font-family: $mallory_mp_medium;
}