/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.advanced_search {
  position: absolute;
  margin-left: -260px;
  margin-top: 30px;
  color: $light_blue;
  background: transparent;
  border: transparent;
  font-size: 16px;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.advanced_search:hover {
  background: none !important;
  color: $light_blue;
  border-color: transparent;
}

.adv-search-help h4 {
  font-family: $yale_roman, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: $yale_blue;
  padding-left: 25px;
}

.adv-search-help li {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $medium_grey;
}

.adv-search-fields {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

.adv-search-fields input {
  border: 1px solid $medium_grey;
  width: 325px;
}

.adv-search-fields label {
  font-family: $mallory_mp_black, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: $medium_grey;
}

.sort-submit-buttons {
  display: none;
}

.adv-search-sort-submit-buttons {
  border-top: 1px solid $light_grey;
  padding-top: 20px;
}

.adv-search-sort-submit-buttons .btn:not(:nth-child(2n)) {
  margin-right: 20px;
}

.adv-search-sort-submit-buttons .btn-primary:hover {
  background-color: $white;
  color: $yale_blue;
}
.adv-search-sort-submit-buttons .btn-primary {
  border-color: $light_grey;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 24px 12px 24px;
  margin-bottom: 40px;
}

.adv-search-sort-submit-buttons .btn-primary.advanced-search-start-over {
  border: none;
  color: $light_blue;
}


@media screen and (min-width: $small_device) {
  .advanced_search {
    position: absolute;
    margin-left: -392px;
    margin-top: 8px;
    color: $light_blue;
    background: transparent;
    border: transparent;
    font-size: 16px;
    text-transform: uppercase;
  }

  .advanced_search:hover {
    background: none !important;
    color: $light_blue;
    border-color: transparent;
  }
}


@media screen and (min-width: $medium_device) {
  .advanced_search {
    position: absolute;
    margin-left: 11px;
    margin-top: -23px;
    color: $light_blue;
    background: transparent;
    border: transparent;
    font-size: 16px;
    text-transform: uppercase;
  }

  .advanced_search:hover {
    background: none !important;
    color: $light_blue;
    border-color: transparent;
  }

  .adv-search-fields .advanced-search-field {
    flex: 45%;
    white-space: nowrap;
    margin-bottom: 30px;
  }

  .adv-search-fields input {
    margin-right: 5px;
  }
}


@media screen and (min-width: $large_device) {
  .advanced_search {
    position: absolute;
    margin-left: 38px;
    margin-top: -23px;
    color: $light_blue;
    background: transparent;
    border: transparent;
    font-size: 16px;
    text-transform: uppercase;
  }

  .advanced_search:hover {
    background: none !important;
    color: $light_blue;
    border-color: transparent;
  }

  .adv-search-fields input {
    margin-right: 10px;
  }
}

@media screen and (min-width: $xlarge_device) {
  .advanced_search {
    position: absolute;
    margin-left: 6px;
    margin-top: 34px;
    color: $light_blue;
    background: transparent;
    border: transparent;
    font-size: 16px;
    text-transform: uppercase;
  }

  .advanced_search:hover {
    background: none !important;
    color: $light_blue;
    border-color: transparent;
  }

  .adv-search-fields .advanced-search-field {
    flex: 45%;
    white-space: nowrap;
    margin-bottom: 30px;
  }

  .adv-search-fields input {
    margin-right: 10px;
  }
}