/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.advanced_page_header {
  font-size: 27px;
  color: $yale_blue;
  margin-left: 12px;
  padding-top: 25px;
  margin-bottom: 13px;
  font-family: $yale_new_roman;
}

.advanced-help-more-information a {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $yale_blue;
}

.adv-search-border-top {
  width: auto;
  border-top: 1px solid $border_grey;
  padding-top: 20px;
}

.adv-search-border-bottom {
  width: auto;
  border-top: 1px solid $light_grey;
  padding-top: 20px;
}

.query_criteria_heading {
  color:$medium_grey;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 30px;
}

.input-small {
  background-size: 11px;
  background-position-x: right;
  background-origin: content-box;
  background-color: transparent;
  display: inline-block;
  width: 30%;
  height: 50px !important;
  padding: 14px;
  vertical-align: baseline;
  background-repeat: no-repeat;
  background-image: image-url('light-blue-double-arrow.png');  border: 1px solid #ced4da;
  border-radius: 0rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: $yale_blue;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
//Sort text next to button
.sort-buttons {
  color:$medium_grey;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 30px;
  margin-top: 20px;
}
//Sort button text
.sort-select {
  background-size: 11px;
  background-position-y: center;
  background-position-x: right;
  background-origin: content-box;
  display: inline-block;
  width: 66%;
  height: 50px !important;
  vertical-align: baseline;
  background-repeat: no-repeat;
  padding: 0.65rem 0.65rem 0.5rem 1rem;
  background-image: image-url('light-blue-double-arrow.png');  border: 1px solid #ced4da!important;
  border-radius: 0rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: $yale_blue;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
 }

.input-match {
  padding-bottom: 17px;
  margin-bottom:13px
}

.advanced_search_clear_top {
  float: right;
  margin-top: -45px;
  margin-right: 24px;
}

.btn.btn-secondary.advanced-search-start-over {
  display: none;
}

input.btn:nth-child(2) {
  display: none;
}
.advanced_search_fields > div > div >.form-control {
  border: 1px solid $light_grey !important;
}

.adv-search-help h2 {
  font-family: $yale_new_roman, 'Times New Roman', Times, serif !important;
  font-size: 28px;
  font-weight: 500;
  color: $yale_blue;
  padding-left: 25px;
}

.adv-search-help li {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $medium_grey;
}

.advanced-help-more-information {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $medium_grey;
  list-style-type: none;
  padding-left: 25px;
}

.adv-search-fields {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

.adv-search-fields input {
  border: 1px solid $medium_grey;
  width: 325px;
}

.advanced-search-field {
  padding-top: 15px;
}

.adv-search-fields label, .query_criteria_heading label {
  font-family: $mallory_mp_black, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: $medium_grey;
}

.query_criteria_heading label {
  display: inline;
}

span#advanced-fulltext-info {
  font-family: $mallory_book, $mallory_light, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $medium_grey;;
}

//Do we want the advanced search to also change state?
.btn-secondary:not(:disabled):not(.disabled):hover {
  color: $yale_blue;
}

/* If no to above we use this to fix the vanish issue
.btn-secondary:not(:disabled):not(.disabled):active {
  color: $light_blue;
}*/

@media screen and (min-width: $medium_device) {

  .adv-search-border-top{
    width: 154%;
  }

  .adv-search-help {
    display: contents;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
  }

  .adv-search-border-bottom {
    width: 154%;
    border-top: 1px solid $light_grey;
    padding-top: 20px;
  }
}

@media screen and (min-width: $large_device) {

  .adv-search-border-top{
    width: 160%;
  }

  .adv-search-border-bottom {
    width: 160%;
  }

  .advanced_page_header {
    width:100%!important;
    padding-bottom: 25px;
    padding-top: 30px;
  }
  .advanced_search_form {
    display: inline-flex;
    flex-wrap: wrap;
  }
  .query_criteria_heading {
    width: 330px;
  }

  //Sort text next to button
  .sort-buttons {
    width: 500px;
    margin-left: -45px;
    margin-top: 4px;
    }

  .adv-search-sort-submit-buttons.sort-submit-top {
    margin-top: -3px;
  }

  //Sort button text
  .sort-select {
    background-origin: content-box;
    display: inline-block;
    width: 225px;
    height: 50px !important;
  }

  .input-small {
    width: 25%;
  }

  .input-match {
    padding-bottom: 17px;
    margin-bottom:13px;
    display: inline-flex;
    border: none;
    position: absolute;
    top: -81px;
    left: 230px;
    width: auto;
  }

  .advanced_search_clear_top {
    float: right;
    margin-top: -45px;
    margin-right: 24px;
  }

  .adv-search-fields input {
    margin-right: 10px;
  }
}

@media screen and (min-width: $xlarge_device) {
  .input-match{
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    top: -81px;
    left: 60%;
    height: 0px
  }

  .adv-search-border-top {
    margin-top: -40px;
    margin-bottom: 20px;
  }

  .advanced_search_fields {
    position: relative;
    top: -14px;
  }

  .input-small {
    width: 29%;
  }

  .sort-buttons {
    margin-left: -35px;
    margin-top: 3px;
  }

  .query_criteria_heading {
    margin-left: -65px;
  }

  .adv-search-fields .advanced-search-field {
    flex: 45%;
    white-space: nowrap;
    margin-bottom: 30px;
  }

  .adv-search-fields input {
    margin-right: 10px;
  }
  .adv-search-help {
    display: inline-block;
  }
}
