/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

#appliedParams {
  padding: 16px;
  width: 100%;
}

.btn-group.applied-filter.constraint {
  display: inline-block;
  text-justify: auto;
  word-wrap: break-word;
  min-width: max-content;
  max-width: fit-content;
}

// hides duplicate range constraint
.btn-group.applied-filter.constraint.query.year_isim {
  display: none;
}

.catalog_startOverLink {
  width: fit-content;
}

.catalog_startOverLink:active a {
  color: white;
}

.constraints-container-index.constraints-container {
  background-color: $lighter_grey;
  margin-left: 0;
  overflow-wrap: break-word;
  display: block;
}


.constraints-container-index > .catalog_startOverLink {
  font-family: $mallory_medium;
  color: $light_blue;
  background-color: $lighter_grey;
  border-color: $lighter_grey;
  text-align: center;
  float: right;
}

.constraints-group {
  display: inline-block;
  width: 62%;
  flex-wrap: wrap;
}

.constraint-value.btn.btn-outline-secondary {
  display: inline;
  height: 100%;
  width: fit-content;
  background-color: $white;
  font-size: 16px;
  padding: 0 0 6px 3px;
}

.constraint-value.btn.btn-outline-secondary:hover {
  border-color: $lighter_grey;
}

.constraints-container-index > .catalog_startOverLink.btn.btn-primary.btn-show:focus .start-over-image {
  filter: invert(54%) sepia(54%) saturate(3969%) hue-rotate(192deg) brightness(103%) contrast(108%);
}

.constraints-container {
  .catalog_startOverLink {
    color: $yale_blue
  }
  .catalog_startOverLink:focus, .catalog_startOverLink:hover, .catalog_startOverLink:active {
    background: $yale_blue;
    color: white;
    a {
      color: white;
    }
    .start-over-image {
      filter: invert(100%);
    }
  }
}

.filter-name{
  margin-top: 1px;
  position: relative;
  top: 3px;
  color: $medium_grey;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: capitalize;
}

.filter-value {
  position: relative;
  top: 3px;
  color: $medium_grey;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-right: 5px;
  text-transform: capitalize;
}

.searched-heading {
  font-size: 14px;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
  text-align: left;
  color: $medium_grey;
  text-transform: uppercase;
  margin: 4px 4px 4px 0px;
  position: relative;
  width: fit-content;
}

@media screen and (min-width: $small_device) {
  .constraints-group{
    width: 62%;
  }
}

@media screen and (min-width: $medium_device) {
  .constraints-group{
    width: 57%;
  }
}

@media screen and (min-width: $large_device) {
  .constraints-group{
    width: 55%;
  }
}

@media screen and (min-width: $xlarge_device) {
  .constraints-group{
    width: 62%;
  }
}
