/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

a.facet-select {
  color: $light_blue;
  font-size: 12px;
}

div.card {
  margin-bottom: 5px;
}

.facet-count.selected {
  font-size: 12px;
  padding-right: 22px;
  padding-top: 2px;
}

.facet-count {
  width: 9ch !important;
  white-space: nowrap;
  position: relative;
  right: -10px;
}

.facet-count:after {
  content: ')';
}

.facet-count:before {
  content: '(';
}

.facet-field-heading button{
  text-transform: uppercase;
}
.facet-field-heading button.collapsed::after {
  width: 11px;
  height: 8px;
  color: $medium_grey;
  content: "^";
  margin-top: 12px;
  transform: rotate(180deg);
  /* Legacy vendor prefixes */
  /* Safari */
  -webkit-transform: rotate(180deg);
  /* Firefox */
  -moz-transform: rotate(180deg);
  /* IE */
  -ms-transform: rotate(180deg);
  /* Opera */
  -o-transform: rotate(180deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.facet-field-heading button::after[aria-expanded="true"] {
  width: 11px;
  height: 8px;
  color: $medium_grey;
  content: "^";
  transform: rotate(0deg);
  /* Legacy vendor prefixes */
  /* Safari */
  -webkit-transform: rotate(0deg);
  /* Firefox */
  -moz-transform: rotate(0deg);
  /* IE */
  -ms-transform: rotate(0deg);
  /* Opera */
  -o-transform: rotate(0deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.facet-limit .card-body {
  padding-bottom: 5px;
  padding-top: 5px;
}

#facet-panel-collapse {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  line-height: 1.69;
}

.facet-values .facet-label {
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.facet-values .facet-count {
  font-size: 12px;
  color: $medium_grey;
}

.facet-values .selected {
  font-size: 12px;
  font-weight: 500;
}

#facets .range-limit-input-group .btn {
  margin-left: 10px;
}

#facets .facet-field-heading .btn {
  border-top: 1px solid $light_grey !important;
}

#facets a {
  text-decoration: none;
}

#facets a:active, #facets a:focus, #facets a:hover {
  text-decoration: underline;
}

h2.facets-heading {
  font-family: $mallory_mp_black, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 1.71;
}

#facets .remove {
  position: absolute;
  right: 6px;
  z-index: 10;
}

#facets .range-limit-input-group input {
  padding: 0 0.25px 0 0.25px;
}

.more_facets a {
  font-size: 12px;
  margin-left: -5px;
  color: $light_blue;
  text-transform: capitalize;
}

@media screen and (min-width: $small_device) {

}

@media screen and (min-width: $medium_device) {

}

@media screen and (min-width: $large_device) {

}

@media screen and (min-width: $xlarge_device) {

}
