/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

a.facet-select {
  color: $light_blue;
  font-size: 12px;
}

div.card {
  margin-bottom: 5px;
}

.facet-count.selected {
  font-size: 12px;
  padding-right: 22px;
  padding-top: 2px;
}

.facet-count {
  width: 9ch !important;
  white-space: nowrap;
  position: relative;
  right: -10px;
}

.facet-count:after {
  content: ')';
}

.facet-count:before {
  content: '(';
}

.facet-field-heading button{
  text-transform: uppercase;
}

.facet-field-heading button:focus {
  outline: 2px solid $yale_blue;
  outline-offset: 2px;
  background-color: $lightest_blue;
}

.facet-field-heading button:focus:not(:focus-visible) {
  outline: none;
  background-color: transparent;
}

.facet-field-heading button.collapsed::after {
  width: 11px;
  height: 8px;
  color: $dark_grey;
  content: "^";
  margin-top: 12px;
  transform: rotate(180deg);
  /* Legacy vendor prefixes */
  /* Safari */
  -webkit-transform: rotate(180deg);
  /* Firefox */
  -moz-transform: rotate(180deg);
  /* IE */
  -ms-transform: rotate(180deg);
  /* Opera */
  -o-transform: rotate(180deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.facet-field-heading button::after[aria-expanded="true"] {
  width: 11px;
  height: 8px;
  color: $dark_grey;
  content: "^";
  transform: rotate(0deg);
  /* Legacy vendor prefixes */
  /* Safari */
  -webkit-transform: rotate(0deg);
  /* Firefox */
  -moz-transform: rotate(0deg);
  /* IE */
  -ms-transform: rotate(0deg);
  /* Opera */
  -o-transform: rotate(0deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.facet-limit .card-body {
  padding-bottom: 5px;
  padding-top: 5px;
}

#facet-panel-collapse {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  line-height: 1.69;
}

.facet-values .facet-label {
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.facet-values .facet-count {
  font-size: 12px;
  color: $medium_grey;
}

.facet-values .selected {
  font-size: 12px;
  font-weight: 500;
}

#facets .range-limit-input-group .btn {
  margin-left: 10px;
}

#facets .range-limit-input-group input {
  padding: 5px;
}

#facets .range-limit-input-group .submit, #range_year_isim_begin {
  border-radius: 0;
}

#facets .blacklight-year_isim .profile {
  height: 100px;
}

#blacklight-modal .range-limit-input-group {
  width: 70%;
}

#blacklight-modal .range-limit-input-group .submit {
  border-radius: 0;
}

#facets .facet-field-heading .btn {
  border-top: 1px solid $light_grey !important;
  color: $dark_grey !important;
}

#facets a, .facet-values a, .prev_next_links a {
  text-decoration: none;
}

#facets a:active, #facets a:focus, #facets a:hover, 
.facet-values a:active, .facet-values a:focus, .facet-values a:hover, 
.prev_next_links a:active, .prev_next_links a:focus, .prev_next_links a:hover {
  text-decoration: underline;
}

h2.facets-heading {
  font-family: $mallory_mp_black, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 1.71;
}

#facets .remove {
  position: absolute;
  right: 6px;
  z-index: 10;
}

.more_facets a {
  font-size: 12px;
  margin-left: -5px;
  color: $light_blue;
  text-transform: capitalize;
}


.facet-pagination .prev_next_links, .facet-pagination .sort-options {
  width: fit-content;
}

.facet-pagination .prev_next_links > * {
  border: none;
}

@media screen and (min-width: $small_device) {

}

@media screen and (min-width: $medium_device) {

}

@media screen and (min-width: $large_device) {

}

@media screen and (min-width: $xlarge_device) {

}
