/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

a.facet-select {
  color: $light_blue;
  font-size: 12px;
}

div.card {
  margin-bottom: 5px;
}

.facet-limit .card-body {
  padding-bottom: 5px;
  padding-top: 5px;
}

#facet-panel-collapse {
  font-family: $mallory_medium;
  line-height: 1.69;
}

.facet-values .facet-label {
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.facet-values .facet-count {
  font-size: 12px;
  color: $medium_grey;
}

h2.facets-heading {
  font-family: $mallory_medium;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 1.71;
}

.bg-success, .facet-limit-active .card-header {
	background-color: $white !important;
	border-color: $white !important;
}

.facet-count {
	position: absolute;
	right: 18px;
	width: 5ch !important;
}

.facet-count:after {
	content: ')';
}

.facet-count:before {
	content: '(';
}

// facet caret custom rotation
.facet-field-heading button.collapsed::after {
    transform: rotate(-90deg);
    transition: transform 0.1s ease;
        transition-property: transform;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        transition-delay: 0s;
}

.facet-label {
	width: 90%;
}

#facets .btn {
	border-top: 1px solid $medium_grey;
	color: $medium_grey;
	padding-top: 1.25rem !important;
}

#facets .card {
	border: none;
	border-radius: 0;
}

.facets-heading {
	text-transform: uppercase;
	color: $medium_grey;
	font-size: 1rem;
}

.remove-icon {
	display: none;
}

.remove {
	position: absolute;
	right: 0;
	padding-top: 2px;
}

.remove::before {
	content: url(x2x.png);
}