/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.branch-name {
  background-color:$yale_blue!important;
  color:$white !important;
  font-size: xx-small;
  padding: 0px 30px 10px;
}

.footer-container {
  background-color: $yale_blue;
  font-family: $malloryMedium!important;
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.footer-links > ul {
  padding: 0px;
  list-style-type: none;
}

.footer-links a {
  margin: 0px !important;
}

.footer-logo {
  background-size: contain;
  background-position-y: center;
  color: transparent;
  background-image: image-url('yul_logo/yul_logo3x.png');
  width: 150px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
}

// TODO(alishaevn): disable all hover events on this element
.footer-logo:hover {
  pointer-events: none;
}

.footer-logo > img {
  width: 100%;
}

.footer-links {
  text-transform: uppercase;
  line-break:loose;
  font-size: x-small;
}
.footer-links a {
  color: $white !important;
  margin-left: 1rem;
}

.footer-socmedia img {
  width: 1rem;
  margin-right: 3px;
}


@media screen and (min-width: $medium_device) {
  .footer-links > ul {
    display: flex;
  }

  .footer-links li {
    margin-right: 16px;
    font-size: 12px;
  }

  .footer-logo {
    width: 215px;
  }
}


@media screen and (min-width: $xlarge_device) {
  .footer-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .footer-logo {
    flex: 0 1 25%;
  }

  .footer-logo-wrapper {
    display: flex;
  }

  .footer-links{
    -webkit-margin-before: 2em;
    padding-inline-start: 145px;
  }
}