/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.branch-name {
  background-color: $yale_blue !important;
  color: $white !important;
  font-size: 8px;
  padding: 0px 30px 10px;
}

.footer-container {
  background-color: $yale_blue;
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif !important;
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.footer-links > ul {
  padding: 0px;
  list-style-type: none;
}

.footer-links a {
  margin: 0px !important;
  font-size: 12px;
}

// hides the link and hover text of the footer logo only
.footer-logo-wrapper a {
  color: transparent;
}

.footer-logo {
  background-size: contain;
  background-position-y: center;
  background-image: image-url('yul_logo/yul_logo3x.png');
  width: 150px;
  background-repeat: no-repeat;
  height: 50px;
}

.footer-logo > img {
  width: 100%;
}

.footer-links {
  text-transform: uppercase;
}

.footer-links a {
  color: $white !important;
  margin-left: 1rem;
}

.footer-socmedia img {
  width: 1rem;
  margin-right: 3px;
}


@media screen and (min-width: $medium_device) {
  .footer-links > ul {
    display: flex;
  }

  .footer-links li {
    margin-right: 16px;
  }

  .footer-logo {
    width: 215px;
  }
}


@media screen and (min-width: $xlarge_device) {
  .footer-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0px;
  }

  .footer-links li {
    margin: 15px 0px 0px 16px;
  }

  .footer-container > .container {
    max-width: 85%;
    padding: 0px
  }

  .footer-logo {
    flex: 0 1 25%;
  }

  .footer-logo-wrapper {
    display: flex;
    justify-content: space-between;
  }
}