.help-guide-table-of-contents li {
  list-style-type: none;
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-title {
  color: $yale_blue;
  font-size: 2.5em;
  font-family: $yale_new_roman
}

.help-guide-dc-site h2 {
  color: $yale_blue;
  font-size: 2.1em;
  font-family: $yale_new_roman 
}

.help-guide-dc-site p {
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-search h2 {
  color: $yale_blue;
  font-size: 2.1em;
  font-family: $yale_new_roman
}

.help-guide-search h3 {
  color: $yale_blue;
  font-size: 1.75em;
  font-family: $yale_new_roman
}

.help-guide-search p {
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-search li {
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-information h2 {
  color: $yale_blue;
  font-size: 2.1em;
  font-family: $yale_new_roman
}

.help-guide-information h3 {
  color: $yale_blue;
  font-size: 1.75em;
  font-family: $yale_new_roman
}

.help-guide-information p {
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-information li {
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-download h2 {
  color: $yale_blue;
  font-size: 2.1em;
  font-family: $yale_new_roman
}

.help-guide-download p {
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-download li {
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-download i {
  font-size: 9px;
  font-family: Arial;
}

.help-guide-view-dc h2 {
  color: $yale_blue;
  font-size: 2.1em;
  font-family: $yale_new_roman
}

.help-guide-view-dc p {
  font-size: 16px;
  font-family: Mallory;
}

.help-guide-view-dc i {
  font-size: 9px;
  font-family: Arial;
}

.footer_image img {
  width: 75%;
}

.uv_image img {
  width: 75%;
}