/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.caption,
.caption > .documentHeader {
  width: 200px;
}

.document.col {
  display: flex;
  margin-bottom: 50px;
}

#documents.gallery.row.row-cols-2.row-cols-md-3{
  margin-left: 0;
  margin-top: 30px;
}

.document.col .caption .documentHeader {
  padding-left: 15px !important;
}

.caption .document-title {
  font-size: 14px;
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  padding-left: 0;
  padding-bottom: 0;
  width: 200px;
  margin-top: 14px;
}

.document-title > a {
  color: $light_blue;
}

#documents .thumbnail > a {
  width: 200px;
  display: block;
}

.row-cols-2 > * {
  max-width: 100%;
  flex: 0 0 100%;
}


@media screen and (min-width: $small_device) {
  #documents .thumbnail > a {
    height: 200px;
  }

  .row-cols-2 > * {
    max-width: 50%;
    flex: 0 0 50%;
  }
}


@media screen and (min-width: $xlarge_device) {
  .row-cols-2 > * {
    max-width: 33%;
    flex: 0 0 33%;
  }
}
