/********************************************************
DEFAULT MOBILE STYLING
********************************************************/
#hero {
	position: relative;
	margin-top: -1px;

	.hero-caption {
		position: absolute;
		bottom: 0px;
		color: #fff;
		text-align: center;
		background-color: black;
		width: 100%;
		opacity: 0.5;

		p {
			font-size: 10px;
			font-family: $mallory_mp_medium_italic;
			margin: 10px auto;
		}
	}

	.link-white {
		color: #fff;
		text-decoration: underline;
	}

	#hero-image {
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	.image-overlay {
		background-color: $black;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.65;
	}

	.intro {
		height: 425px;
		position: relative;
	}

	.about-section {
		margin-top: 3%;
	}

	.need-help-section {
		margin-top: 3%;
	}

	.about-title {
		font-family: $yale_new_roman;
	}

	.need-help-title {
		font-family: $yale_new_roman;
	}

	.about-content {
		font-size: .75rem; 
		text-align: left; 
		margin-top: 2%;
		font-family: MalloryMP-Medium;
	}

	.need-help-content {
		font-size: .75rem; 
		text-align: left; 
		margin-top: 2%;
		font-family: MalloryMP-Medium;
	}

	.dc-help-link {
		color: white;
		text-decoration: underline;
	}

	.about-link {
		color: white;
		text-decoration: underline;
	}
}

.landing_flash_messages {
	margin-bottom: -15px;
}

#hero-search {
	position: absolute;
	height: 100%;
	top: 0px;
	color: $white;
	padding-left: 15px;
	max-width: inherit;

	h1 {
		font-family: $yale_display_roman, 'Times New Roman', Times, serif;
		margin: 31px auto 15px;
		text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
		font-size: 36px;
		line-height: normal;
		text-align: center;
		color: #ffffff;
	}

	.hero-info {
		width: 100%;
	}

	#search {
		display: none;
	}

	.search-query-form {
		min-width: 342px;
	}

	// search input box
	#q {
		min-height: 44px;
		height: 50px;
		font-size: 20px;
		font-family: $mallory_mp_medium;
	}
}
///// BODY //////
#highlights {
	margin-top: 15px;
	width: 343px;
	margin-left: auto;
	margin-right: auto;

	h2 {
		max-width: 343px;
		font-family: $yale_display_roman, 'Times New Roman', Times, serif;
		font-size: 30px;
		line-height: 2.25;
		color: $yale_blue;
		border-bottom: 1px solid $light_grey;
		margin-bottom: 0;
		display: flex;
		margin-right: auto;
	}

	a {
		margin-bottom: 1%;
	}

	ul {
		list-style-type: none;
		overflow: hidden;
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		margin-bottom: 18%;

		li {
			position: relative;
			line-height: 22px;
			display: flex;
			float: left;
			padding-left: 0;
		}

		.btn {
			display: block;
			position: relative;
			overflow: hidden;
			min-width: 343px;
			min-height: 275px;
			width: 23%;
			background-size: 100% 193px;
			background-repeat: no-repeat;
			margin-top: 8%;
		}

		.highlight-link {
			color: $yale_blue;
			position: absolute;
			margin-top: 57%;
			left: 0;
			display: flex;
			font-size: 16px;
			font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica,
				sans-serif;
		}

		.cursor-default {
			cursor: default;
		}

		#main-container {
			max-width: max-content;
			position: relative;
			display: flex;
			max-block-size: max-content;
		}
	}
}

#stenzel-collection div {
	text-align: left;
}

#stenzel-collection {
	min-width: 343px;
	height: 250px;
	margin-bottom: 5%;
}

#hughes-papers {
	background-image: image-url('landing/highlight-hughes.png');
}

#west-yale {
	background-image: image-url('landing/highlight-west-yale.jpg');
}

#sous-marine {
	background-image: image-url('landing/highlight-arts.jpg');
}

#china-papers {
	background-image: image-url('landing/highlight-china.png');
}

#lindbergh {
	background-image: image-url('landing/highlight-lindbergh.png');
}

#weather {
	background-image: image-url('landing/highlight-weather.png');
}

#wickhambrook {
	background-image: image-url('landing/highlight-wickhambrook.png');
}

#muscles {
	background-image: image-url('landing/highlight-muscles.png');
}

#litchfield-law {
	background-image: image-url('landing/highlight-litchfield.png');
}

#music {
	background-image: image-url('landing/highlight-music.jpg');
}

#hogarth {
	background-image: image-url('landing/highlight-hogarth.jpg');
}

#postcard {
	background-image: image-url('landing/highlight-postcard.jpg');
}

#ephemera {
	background-image: image-url('landing/highlight-ephemera.jpg');
}

#kissinger {
	background-image: image-url('landing/highlight-kissinger.jpg');
}

#medical {
	background-image: image-url('landing/highlight-medical.jpg');
}


#content-statement { 
	a {
	margin-left: 0px !important;
	}

	p {
		width: 95%;
		font-family: $mallory_light;
	}

	h2 {
		line-height: 1.25;
	}
}

@media screen and (min-width: $small_device) {
	#hero {
		.intro {
			height: 460px;
		}

		#hero-image {
			object-position: 0 -45px;
		}

		.about-content {
			text-align: left; 
			margin-top: 2%;
			font-family: MalloryMP-Medium;
		}

		.need-help-content {
			text-align: left; 
			margin-top: 2%;
			font-family: MalloryMP-Medium;
		}
	}

	#hero-search {
		h1 {
			margin: 60px auto 30px;
		}
	}

	#content-statement {
		margin-top: -5px;
		margin-bottom: 50px;

			h2 {
				line-height: 1.5;
			}
	}
}

@media screen and (min-width: $medium_device) {
	#hero {
		.intro {
			height: 480px;
		}

		#hero-image {
			object-position: 0 -65px;
		}

		.about-content {
			text-align: left; 
			margin-top: 2%;
			font-family: MalloryMP-Medium;
		}

		.need-help-content {
			text-align: left; 
			margin-top: 2%;
			font-family: MalloryMP-Medium;
		}
	}

	#hero-search {
		h1 {
			margin: 70px auto 35px;
			font-size: 55px;
		}

		.hero-info {
			width: 85%;
			margin: 0 auto;
		}
	}

	////// BODY //////
	#highlights {
		width: 726px;

		.highlight-link {
			margin-left: 5%;
			max-width: 261px;
		}

		h2 {
			max-width: 695px;
			margin-left: 0;
			align-content: center;
			display: flex;
			margin-bottom: 2%;
		}

		ul {
			padding-left: 0;
			margin-left: 0;
			margin-top: -2%;

			li {
				padding-left: 10px;
				margin-left: 0;
			}

			.btn {
				height: 275px;
			}
		}

		a {
			margin-left: -4%;
		}
	}

	.item-lewis-photographs {
		margin-top: 0;
	}

	#content-statement {
		margin-top: -50px;
		margin-bottom: 50px;

		h2 {
			line-height: 1.75;
		}
	}
	#coming-soon {
		left: -4%;
	}
}

@media screen and (min-width: $large_device) {
	#hero {
		.intro {
			height: 470px;
		}

		#hero-image {
			object-position: 0 -85px;
		}

		.about-content {
			text-align: left; 
			margin-top: 2%;
			font-family: MalloryMP-Medium;
		}

		.need-help-content {
			text-align: left; 
			margin-top: 2%;
			font-family: MalloryMP-Medium;
		}
	}

	#hero-search {
		.btn-primary:hover {
			border: 2px solid $darkest_grey;
			background: white;
		}
		.btn-primary:hover:active {
			background: $yale_blue;
		}

		h1 {
			font-size: 72px;
		}

		.hero-info {
			width: 70%;
		}

		#search {
			display: initial;
			margin-left: 8px;
			font-size: 20px;
			font-family: $mallory_mp_medium, Arial, Helvetica, sans-serif !important;
			width: 129px;
			height: 50px;
			text-transform: uppercase;
		}

		.blacklight-icon-search {
			display: none;
		}
	}

	///// BODY //////
	#highlights {
		max-width: 860px;
		width: auto;

		a {
			margin-bottom: -42%;
		}

		h2 {
			margin-bottom: 3%;
			max-width: 860px;
			width: auto;
		}

		ul {
			.btn {
				width: auto;
				min-width: 205px;
				height: 290px;
				background-size: 100% 127px;
				top: 0;
			}
			.highlight-link {
				font-size: 14px;
				padding-top: 10px;
			}
		}
	}

	.item-lewis-photographs {
		margin-top: 0;
	}

	#declaration-of-independence {
		text-align: left;
	}

	#content-statement {
		margin-top: -125px;
		margin-bottom: 50px;

		p {
			width: 98%;
		}

		h2 {
			line-height: 2;
		}
	}
}

@media screen and (min-width: $xlarge_device) {
	#hero {
		.intro {
			height: 480px;
		}

		#hero-image {
			object-position: 0 -105px;
		}
	}

	#hero-search {
		p {
			margin-top: 47px;
			font-family: $mallory_mp_medium;
			font-size: 18px;
			line-height: 1.67;
			text-align: center;
			color: #ffffff;
		}

		.search-query-form {
			width: 80%;
			margin: auto;
			border: 5px solid rgba(0, 0, 0, 0.5);
		}

		.adv-search-link {
			background-color: rgba(0, 0, 0, 0.5);
			text-align: center;
		}

		.adv-search-link a {
			color: #ffffff;
			font-size: 14px;
			font-weight: 500;
			font-family: $mallory_mp_medium;
			text-decoration: underline;
		}
	}

	////// BODY //////
	#highlights {
		width: 1111px;
		max-width: initial;

		h2 {
			max-width: 1098px;
			margin-bottom: 1.75%;
			margin-left: -3%;
			margin-top: 40px;
		}

		ul {
			margin-left: -3%;

			.btn {
				min-width: 270px;
				margin-top: 12%;
				background-size: 100% 151px;
				top: 0;
				height: 335px;
			}

			.highlight-link {
				padding-top: 0;
			}

			li {
				display: inline-flex;
				margin-left: -3px;
				justify-content: center;
				padding-left: 9px;
			}
		}
	}

	.item-lewis-photographs {
		margin-top: 0;
	}

	#stenzel-collection div {
		margin-bottom: 55%;
	}

	#content-statement {
		margin-top: -175px;
		margin-bottom: 50px;
		
		p {
			margin-left: -30px;
		}

		h2 {
			line-height: 2.25;
		}
	}

	#coming-soon {
		left: -2%;
	}
}
