/********************************************************
DEFAULT MOBILE STYLING
********************************************************/
#hero {
  position: relative;
  margin-top: -1px;

  .hero-caption {
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: center;
    background-color: black;
    width: 100%;

    p {
      font-size: 10px;
      font-family: $mallory_mp_medium_italic;
      margin: 10px auto;
    }
  }

  #hero-image {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .image-overlay {
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
  }

  .intro {
    height: 220px;
    position: relative;
  }
}

#hero-search {
  position: absolute;
  height: 100%;
  top: 0px;
  color: $white;
  padding-left: 15px;
  max-width: inherit;

  h1 {
    font-family: $yale_display_roman, 'Times New Roman', Times, serif;
    margin: 31px auto 15px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 36px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
  }

  .hero-info {
    width: 100%;
  }

  #search {
    display: none;
  }

  .search-query-form {
    min-width: 342px;
  }

  // search input box
  #q {
    min-height: 44px;
    height: 50px;
    font-size: 20px;
    font-family: $mallory_mp_medium;
  }
}
///// BODY //////
#highlights {
  display: block;
  margin-top: 92px;
  margin-bottom: 92px;
  margin-right: auto;
  width: 110%;
  font-family: $yale_display_roman, $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 14px;
  line-height: 2.25;


  h2 {
    max-width: 343px;
    margin-top: -65px;
    font-family: $yale_display_roman;
    font-size: 30px;
    line-height: 2.25;
    color: $yale_blue;
    border-bottom: 1px solid $light_grey;
    margin-bottom: 0;
    margin-left: 7%;
    display: flex;
    margin-right: auto;
  }

  a {
    margin-bottom: 1%;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7%;

    li {
      display: -webkit-inline-flex;
      position: relative;
      line-height: 22px;
      display: flex;
      float: left;
      padding-left: 0;
    }

    .btn {
      display: block;
      position: relative;
      overflow: hidden;
      min-width: 343px;
      min-height: 225px;
      width: 23%;
      background-size: 100% 193px;
      background-repeat: no-repeat;
      margin-top: 8%;
    }

    .highlight-link {
      color: $yale_blue;
      position: absolute;
      margin-top:57%;
      left: 0;
      display: flex;
      font-size: 16px;
    }

    #main-container{
      max-width: max-content;
      position: relative;
      display: flex;
      max-block-size: max-content;
    }
  }
}

#stenzel-collection div {
  text-align: left
}

#stenzel-collection{
  min-width: 343px;
  height: 250px;
  margin-bottom: 5%;
}

#hughes-papers {
  background-image: image-url('landing/highlight-hughes.png');
}

#carson-papers {
  background-image: image-url('landing/highlight-carson.png');
}

#divina-commedia {
  background-image: image-url('landing/highlight-commedia.png');
}

#van-vechten-papers {
  background-image: image-url('landing/highlight-van-vechten.png');
}

#stenzel-collection {
  background-image: image-url('landing/highlight-stenzel.png');
}

#lewis-photographs {
  background-image: image-url('landing/highlight-lewis.png');
}

#declaration-of-independence {
  background-image: image-url('landing/highlight-independence.png');
}

#coming-soon {
  background-image: image-url('landing/highlight-coming-soon.png');
}


@media screen and (min-width: $small_device) {
  #hero {
    .intro {
      height: 300px;
    }

    #hero-image {
      object-position: 0 -45px;
    }
  }

  #hero-search {
    h1 {
      margin: 60px auto 30px;
    }
  }
}


@media screen and (min-width: $medium_device) {
  #hero {
    .intro {
      height: 325px;
    }

    #hero-image {
      object-position: 0 -65px;
    }
  }

  #hero-search {
    h1 {
      margin: 70px auto 35px;
      font-size: 55px;
    }

    .hero-info {
      width: 85%;
      margin: 0 auto;
    }
  }


////// BODY //////
 #highlights {
     max-width: 110%;
     margin-left: -2%;

      .highlight-link {
        margin-left: 1%;
        max-width: 261px;
      }

     h2 {
       max-width: 695px;
       margin-left: 0;
       align-content: center;
       display: flex;
       margin-bottom: 2%;
     }

     li {
       padding-left: 10px!important;
     }

     ul {
       padding-left: 0;
       margin-left: 0;
       margin-top: -2%; 

       .btn{
         height: 250px;
       }
     }

     a{
       margin-left: -4%;
     }

   }
   .item-lewis-photographs{
     margin-top: 0;
   }
 }


@media screen and (min-width: $large_device) {
  #hero {
    .intro {
      height: 354px;
    }

    #hero-image {
      object-position: 0 -85px;
    }
  }

  #hero-search {
    .btn-primary:hover {
      border: 2px solid $darkest_grey;
      background-color: $light_grey;
    }

    h1 {
      font-size: 72px;
    }

    .hero-info {
      width: 70%;
    }

    #search {
      display: initial;
      margin-left: 8px;
      font-size: 20px;
      color: $yale_blue;
      font-family: $mallory_mp_medium, Arial, Helvetica, sans-serif !important;
      width: 129px;
      text-transform: uppercase;
    }

    .blacklight-icon-search {
      display: none;
    }
  }

///// BODY //////
  #highlights {
      margin-left: -5%;

      a{
        margin-bottom: -48%;
      }

      h2 {
        max-width: 945px;
        margin-bottom: 3%;
        margin-left: 0;
        margin-right: 1%;
      }

      li{
        padding-bottom: 4%;
      }

      ul{
        margin-left: auto;
        max-width: 1110px;

        .btn {
          min-width: 227px;
          height: 127px;
          background-size: 100% 127px;
          top: 0;
        }

        .highlight-link {
          position: absolute;
          margin-top: 53%;
          font-size: 13px;
          width: 205px;
          margin-left: 0;
          top: 6%;
        }
      }
    }

    .item-lewis-photographs{
      margin-top: 0;
    }
  }


@media screen and (min-width: $xlarge_device) {
  #hero {
    .intro {
      height: 472px;
    }

    #hero-image {
      object-position: 0 -105px;
    }
  }

  #hero-search {
    p {
      margin-top: 47px;
      font-size: 18px;
      font-family: $mallory_mp_medium;
      font-size: 18px;
      line-height: 1.67;
      text-align: center;
      color: #ffffff;
    }

    .search-query-form {
      width: 80%;
      margin: auto;
    }
  }

////// BODY //////
   #highlights {
     
      .highlight-link {
        position: absolute;
        overflow: auto;
        margin-top: 53%;
        font-size: 13px;
        width: 205px;
        margin-left: -3%;
        display: inline-flex;
      }
 
     h2 {
       max-width: 1110px;
       align-content: center;
       display: flex;
       margin-left: auto;
       margin-right: auto;
     }
 
     ul{
       max-width: 1120px;
       overflow: no-content;
       align-content: center;
       margin-top: -2%;
 
       li{
         padding-bottom: 7%;
       }
       
       .btn {
         min-width: 270px;
         height: 151px;
         background-size: 100% 151px;
         margin-left: -2%;
       }
     }
   }
 
   .item-lewis-photographs{
     margin-top: 0;
   }
 }