/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

a {
  color: $yale_blue;
}

.bg-success, .facet-limit-active .card-header {
  background-color: $white !important;
  border-color: $white !important;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  color: $yale_blue;
  background-color: $white;
  border-color: $border_grey;
}

.btn-primary:hover {
  color: $yale_blue;
  background: none;
  border-color: $medium_grey;
}

.btn-outline-secondary {
  color: $dark_grey;
  border-color: $medium_grey;
}

.btn-outline-secondary:hover {
  color: $white;
  background-color: $dark_grey;
  border-color: $medium_grey;
}

.card-header {
  background-color: $white !important;
}

#citationLink {
  color: $yale_blue !important;
}

#emailLink {
  color: $yale_blue !important;
}

#facets .facet-field-heading .btn {
  border-top: 1px solid $medium_grey;
  color: $medium_grey;
  padding-top: 1.25rem !important;
}

#facets .card {
  border: none;
  border-radius: 0;
}

.facets-heading {
  text-transform: uppercase;
  color: $medium_grey;
  font-size: 1rem;
}

.page-link {
  color: $yale_blue;
}

.btn.btn-outline-secondary.remove > .remove-icon {
  position: relative;
  top: 1px
}

.start-over-icon {
  margin-left: 5px;
}

.start-over-image {
  filter: invert(42%) sepia(73%) saturate(6447%) hue-rotate(203deg) brightness(97%) contrast(103%);
}

.btn-show:focus:not(:hover) .start-over-image {
  filter: invert(100%);
}

.btn-show:active .start-over-image {
  filter: invert(100%);
}

.btn.btn-outline-secondary.remove{
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 0px;

  background-color: $white;
  border-color: $white
}


.constraint-value.btn.btn-outline-secondary > .btn.btn-outline-secondary.remove{
  padding-left: 5px;
  padding-right: 10px;
  height: calc(100% - 15px);
  top: -5px;
  background-color: #ffffff;
  border-color: #ffffff;
  position: relative;
}

.text-success, .facet-values li .selected {
  color: $light_blue !important;
}

.universal-viewer-iframe {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: $small_device) {
  #main-container {
  max-width: 93%;
  }
}

@media screen and (min-width: $medium_device) {
  #main-container {
    padding: 0px;
    max-width: 87%;
  }
}


@media screen and (min-width: $xlarge_device) {
  #main-container {
    max-width: 85%;
  }
}
