/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

a {
  color: $yale_blue;
}

.btn {
	border-radius: 0;
}

.btn-primary {
	color: $yale_blue;
	background-color: $white;
	border-color: $medium_grey;
}

.btn-primary:hover {
	color: $yale_blue;
	background-color: $light_grey;
	border-color: $medium_grey;
}

.btn-outline-secondary {
	color: $dark_grey;
	border-color: $medium_grey;
}

.btn-outline-secondary:hover {
	color: $white;
	background-color: $dark_grey;
	border-color: $medium_grey;
}

.card-header {
	background-color: $white !important;
}
	
#citationLink {
	color: $yale_blue !important;
}

#emailLink {
	color: $yale_blue !important;
}

.bg-success, .facet-limit-active .card-header {
	background-color: $white !important;
	border-color: $white !important;
}

#facets .btn {
	border-top: 1px solid $medium_grey;
	color: $medium_grey;
	padding-top: 1.25rem !important;
}

#facets .card {
	border: none;
	border-radius: 0;
}

.facets-heading {
	text-transform: uppercase;
	color: $medium_grey;
	font-size: 1rem;
}

// facet caret
.facet-field-heading button.collapsed::after {
    transform: rotate(-90deg);
    transition: transform 0.1s ease;
        transition-property: transform;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        transition-delay: 0s;
}

.page-link {
	color: $yale_blue;
}

.remove-icon {
	display: none;
}

.remove::before {
	content: url(x2x.png);
}

#smsLink {
	color: $yale_blue !important;
}

.text-success, .facet-values li .selected {
	color: $light_blue !important;
}

@media screen and (min-width: $medium_device) {
}


@media screen and (min-width: $xlarge_device) {
}