/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

// Pagination at the top of the page
#sortAndPerPage {
  align-items: center;
}

#sortAndPerPage .page-links,
#sortAndPerPage .page-links a {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $light_blue;
}

#sortAndPerPage .page-entries {
  color: $medium_grey;
}


// Pagination at the bottom of the page

#first-page-arrows.disabled {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#last-page-arrows.disabled {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#last-page-arrows::marker {
  display: none;
}
.page-item .page-link {
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: $light_blue;
  border: none;
  margin-left: 0px;
  padding: 12px 12px;
  min-width: 44px;
  min-height: 44px;
}

.page-item.active .page-link {
  background-color: $light_blue;
}

.page-item.disabled .page-link {
  color: $medium_grey;
}

.page-item:last-child .page-link {
  border-radius: 0px;
}

.pagination {
  padding: 8px 0px;
  justify-content: center;
}

.pagination .page-item:nth-child(1),
.pagination .page-item:nth-child(2) {
  text-transform: uppercase;
}

// add a right border to all page numbers except the last page double arrows and Next button
.page-item:nth-child(n+3):not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) {
  border-right: 1px solid $medium_grey;
}

//single item page pagination
.page-links-show {
  padding-top: 10px;
}

.page-items-show {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $light_blue;
}

.page-info-show {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $medium_grey;
}

.page-link[aria-current="true"] {
  color: $white;
}

@media screen and (min-width: $small_device) {
  .record-padding {
    position: relative;
  }

  .page-item .page-link[aria-label="Go to previous page"] {
    position: absolute;
    left: 0;
  }

  .page-item .page-link[aria-label="Go to next page"] {
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: $medium_device) {
  .page-links-show {
    position: absolute;
    right: 0;
    width: 30%;
  }
}

@media screen and (min-width: $large_device) {
  .page-links-show {
    position: absolute;
    right: 0;
    width: 20%;
  }
}
