/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

#sortAndPerPage .page-links,
#sortAndPerPage .page-links a {
  font-family: $mallory_medium;
  font-size: 12px;
  color: $light_blue;
}

#sortAndPerPage .page-entries {
  color: $medium_grey;
}