/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

// Pagination at the top of the page
#sortAndPerPage {
  align-items: center;
}

#sortAndPerPage .page-links,
#sortAndPerPage .page-links a {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $light_blue;
}

#sortAndPerPage .page-entries {
  color: $medium_grey;
}


// Pagination at the bottom of the page
.page-item .page-link {
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $light_blue;
  border: none;
  margin-left: 0px;
  padding: 0px 12px;
}

.page-item.active .page-link {
  background-color: $light_blue;
}

.page-item.disabled .page-link {
  color: $medium_grey;
}

.page-item:last-child .page-link {
  border-radius: 0px;
}

.pagination {
  padding: 8px 0px;
  justify-content: center;
}

.pagination .page-item:nth-child(1),
.pagination .page-item:nth-child(2) {
  text-transform: uppercase;
}

// add a right border to all page numbers except the last page
.page-item:nth-child(n+3):not(:last-child) {
  border-right: 1px solid $medium_grey;
}

//single item page pagination
.page-links-show {
  padding-top: 10px;
}

.page-items-show {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $light_blue;
}

.page-info-show {
  font-family: $mallory_mp_medium, $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $medium_grey;
}

@media screen and (min-width: $small_device) {
  .page-item .page-link[aria-label="Go to previous page"] {
    position: absolute;
    left: 0;
    top: 40px;
  }
  
  .page-item .page-link[aria-label="Go to next page"] {
    position: absolute;
    right: 0;
    top: 40px;
  }    
}

@media screen and (min-width: $medium_device) {
  .page-item .page-link[aria-label="Go to previous page"] {
    position: absolute;
    left: 0;
    top: 18px;
  }
  
  .page-item .page-link[aria-label="Go to next page"] {
    position: absolute;
    right: 0;
    top: 18px;
  }    
}


@media screen and (min-width: $xlarge_device) {
  .page-item .page-link[aria-label="Go to previous page"] {
    position: absolute;
    left: 0;
    top: 18px;
  }
  
  .page-item .page-link[aria-label="Go to next page"] {
    position: absolute;
    right: 0;
    top: 18px;
  }      
}