.request-form-cancel {
  color: white;
  background-color: #767676;
  margin-right: 190px;
  margin-top: 5px;
  height: 40px;
  width: 100px;
  font-size: 20px;
}

.request-form-submit {
  color: #043669;
  background-color: white;
  border: 1px solid #cccccb;
  height: 38px;
}

.request-continue {
  color: #043669;
  background-color: white;
  border: 1px solid #cccccb;
  padding: 5px;
  margin-top: 5px;
  height: 40px;
  width: 135px;
  font-size: 20px;
}

.submit-form-header {
  font-family: YaleDisplay-Roman, "Times New Roman", Times, serif;
  color: $yale_blue;
  font-size: 30px;
}

.confirmation-form-header {
  font-family: YaleDisplay-Roman, "Times New Roman", Times, serif;
  color: $yale_blue;
  font-size: 30px;
}

#permission_request_user_full_name {
  width: 475px;
}

.request-user-note #permission_request_user_note {
  width: 475px;
}

.request-form-submit {
  margin-top: 5px;
  height: 40px;
  width: 180px;
  font-size: 20px;
}

.request-form-metadata {
  padding-top: 50px;
}

.request-key {
  font-family: Mallory-Medium, Arial, Helvetica, sans-serif;
}

.request-full-name {
  font-family: Mallory-Medium, Arial, Helvetica, sans-serif;
}

.request-label {
  font-family: Mallory-Medium, Arial, Helvetica, sans-serif;
}

.confirmation-key {
  font-family: Mallory-Medium, Arial, Helvetica, sans-serif;
}