/********************************************************
DEFAULT MOBILE STYLING
********************************************************/
.documents-list {
  .counter_no_show{
   display: none;
  }

  .document-title > a {
    color: $light_blue;
    max-width: 420px;
    font-family: $mallory_medium, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
  }

  .search-highlight {
    background-color: yellow;
  }

  .dd {
    margin-left: 22%;
    text-align: justify;
  }

  .dt {
    position: relative;
  }

  .document-title {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .document-title-heading {
    display: contents;
    position: static;
    margin-bottom: 3%;
  }

  .documentHeader {
    padding-left: 19px !important;
    display: -webkit-box;
  }

  .documentHeader.row {
    margin-bottom: 1rem;
    padding-left: 0px !important;
    position: relative;
  }

  .documents-list.document {
    border-bottom: 1px dotted $light_grey;
    margin-top: 0rem;
    padding-top: 2rem;
  }

  .document-title {
    position: relative;
    font-size: 15px;
    width: 492px;
    display: -webkit-inline-flex;
    margin-top: 0rem;
    text-align: left;
  }

  .document-metadata.dl-invert.row {
    display: inline-block;
    position: relative;
    top: 9px;
    margin-bottom: 40px;
  }

  //Solr field titles
  .dl-invert dt {
    width: 200px;
    text-align: left;
    position: relative;
    color: $medium_grey;
    font-family: $mallory_mp_black, $mallory_medium, Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: contents;
    left: -38px;
  }

  //Solr field details
  .dl-invert dd {
    font-size: 12px;
    font-family:  $mallory_medium, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: $medium_grey;
    flex-wrap: wrap;
    margin-top: -21px;
    margin-left: 100px;
    max-width: 250px;
  }

  .document-metadata {
    max-width: 55%;
    margin-bottom: 1%;

  }

  .document-thumbnail {
    float: left !important;
    margin: 12px 100% 12px 0 !important;
    width: 200px;
    padding-top: 0px;
    padding-left: .25rem !important;
  }

  //styling for title on search result page
  .document-title {
    font-size: 15px;
    display: -webkit-inline-flex;
    margin-top: 0rem;
    padding-left: 0;
  }

  .col-md-9 {
    padding-left: 25%;
  }

  .row {
    margin-left: 5px !important;
  }

  @media screen and (min-width: $medium_device) {
    .document {
      width: 100%;
      height: auto;
      padding-right: calc(100% - 780px);
    }

    .documentHeader.row {
      margin-bottom: 1rem;
      width: 800px !important;
      padding-left: 0px !important;
      max-width: 55% !important;
      position: relative;
      float: right;
      left: -85px;
      top: 5px;
    }

    .documents-list.document {
      border-bottom: 1px dotted $light_grey;
      margin-top: 0rem;
      padding-top: 2rem;
    }

    .document-title {
      position: relative;
      font-size: 15px;
      width: 492px;
      display: -webkit-inline-flex;
      margin-top: 0rem;
      text-align: left;
    }

    .document-metadata.dl-invert.row {
      display: inline-block;
      position: relative;
      top: -20px;
      left: -85px;
      width: 800px;
      margin-bottom: 20px;
      float: right;
    }

    //Solr field titles
    .dl-invert dt {
      width: 200px;
      text-align: left;
      position: relative;
      color: $medium_grey;
      font-family: $mallory_mp_black, $mallory_medium, Arial, Helvetica, sans-serif;
      font-size: 12px;
      display: contents;
      left: -38px;
    }

    //Solr field details
    .dl-invert dd {
      font-size: 12px;
      font-family: $mallory_medium, Arial, Helvetica, sans-serif;
      font-weight: 600;
      color: $medium_grey;
      flex-wrap: wrap;
      margin-top: -21px;
      margin-left: 74px;
      max-width: 285px;
    }

    .document-metadata {
      max-width: 55%;
      margin-bottom: 1%;

    }
    .document-thumbnail {
      float: left !important;
      margin: 12px 0 20px 0 !important;
      height: 200px;
      width: 200px;
      padding-top: 0px;
    }

    //styling for title on search result page
    .document-title {
      font-size: 15px;
      display: -webkit-inline-flex;
      margin-top: 0rem;
      padding-left: 0;
    }
    .col-md-9 {
      padding-left: 25%;
    }
    .row {
      margin-left: 5px !important;
    }
  }

  @media screen and (min-width: $large_device) {
    margin-left: 10px;

    .document-thumbnail {
      margin: 12px 0 20px -8px !important;
    }
  }

  @media screen and (min-width: $xmini_device) {
    .dl-invert dd {
      margin-left: 100px;
    }
  }

  @media screen and (min-width: $xlarge_device) {
    margin-left: 0;

    .documentHeader.row {
      margin-bottom: 1rem;
      width: 800px !important;
      padding-left: 0px !important;
      max-width: 55% !important;
      position: relative;
      float: right;
      left: -85px;
      top: 5px;
    }

    .document-metadata.dl-invert.row {
      display: inline-block;
      position: relative;
      top: -20px;
      left: -85px;
      width: 800px;
      margin-bottom: 20px;
      float: right;
    }

    //Solr field titles
    .dl-invert dt {
      width: 200px;
      text-align: left;
      position: relative;
      color: $medium_grey;
      font-family: $mallory_mp_black;
      font-size: 12px;
      display: contents;
      left: -38px;
    }

    //Solr field details
    .dl-invert dd {
      font-size: 12px;
      font-family: $mallory_medium, Arial, Helvetica, sans-serif;
      font-weight: 600;
      color: $medium_grey;
      flex-wrap: wrap;
      margin-top: -21px;
      margin-left: 74px;
      max-width: 325px;
    }

    .document-metadata {
      max-width: 55%;
      margin-bottom: 1%;

    }

    .document-thumbnail {
      float: left !important;
      margin: 12px 0 40px 45px !important;
      height: 200px;
      width: 200px;
      padding-top: 0px;
    }

    //styling for title on search result page
    .document-title {
      font-size: 15px;
      display: -webkit-inline-flex;
      margin-top: 0rem;
      padding-left: 0;
    }
    .col-md-9 {
      padding-left: 25%;
    }
    .row {
      margin-left: 5px !important;
    }
  }
}
/********************************************************
BOOKMARK STYLING
********************************************************/

// This is to prevent the bookmark-toggle css below to not have an effect on the gallery view checkboxes.
.gallery .bookmark-toggle {
  padding-left: 0px;
}

// List item search results bookmark styling
.index_title.document-title-heading.title_tesim {
  display: flex;
}

.index-document-functions { 
  padding-left: 175px;
}

.bookmark-toggle {
  font-size: 17px;
}

@media screen and (max-width: 1650px) {
  .index-document-functions {
    padding-left: 90px;
  }
}
@media screen and (max-width: 1530px) {
  .index-document-functions {
    padding-left: 0px;
  }
}
@media screen and (max-width: 1380px) {
  .index-document-functions {
    margin-left: -105px;
  }
}
