/********************************************************
DEFAULT MOBILE STYLING
********************************************************/
.search-area {
.advanced_search {
  padding: 14px 5px 11px 23px;
  color: $light_blue;
  background: transparent;
  border: transparent;
  font-size: 16px;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: block !important;
}

.advanced_search:hover {
  background: none !important;
  color: $light_blue;
  border-color: $border_grey;
}

.advanced_search,
.search-btn {
  margin-top: 8px;
}

.bg-light {
  background-color: transparent !important;
}

.blacklight-icon-search {
  display: none;
}

.custom-select {
  background-image: image-url('light-blue-double-arrow.png');
  background-size: 11px;
  background-position-x: right;
  background-origin: content-box;
  border-bottom: none;
}

.custom-select,
.form-control,
.search-btn {
  padding: 14px;
  line-height: 1;
  border: 1px solid $border_grey;
  border-radius: 0px;
  line-height: 16px;
  height: 51px;
}

.custom-select,
.navbar-search .submit-search-text {
  text-transform: uppercase;
  font-size: 16px;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
}


.input-group {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 98%;
}


.input-group .btn-primary:not(:disabled):not(.disabled):active,
.input-group .search-btn:hover {
  border-color: $medium_grey;
}

.navbar-search {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.navbar-search .search-field,
.twitter-typeahead {
  width: 100%;
  min-width: 9em;
}

.navbar-search .search-query-form {
  padding-right: 0;
  justify-content: center;
  display: flex;
}

.navbar-search .submit-search-text {
  position: initial;
}

.search-btn,
.search-q {
  margin-top: 8px;
}

.search-q {
  font-size: 16px;
  color: $black;
  font-family: $mallory_book, $mallory_light, Arial, Helvetica, sans-serif !important;
}

  .fulltext-info {
    font-size: 14px;
    font-family: $mallory_book, $mallory_light, Arial, Helvetica, sans-serif;
    top: 103%;
    right: 52%;
    width: 46%;
    color: $medium_grey;
    position:absolute;
    background-color: none;
  }



@media screen and (min-width: $medium_device) {
  .input-group {
    max-width: 96%;
  }
  .fulltext-info {
    display: inline-block;
    right: 45%;
    width: 61%;
    left: 2%;
  }
}




@media screen and (min-width: $large_device) {
  .advanced_search {
    margin-top: 0;
  }
  .fulltext-info {
    display: inline-block;
    right: 45%;
    width: 38%;
    left: 29%;
  }

  .form-control {
    border-left: none;
    border-top: 1px solid $border_grey;
  }

  .input-group {
    max-width: 918px;
    justify-content: center;
  }

  .input-group-append,
  .search-btn {
    width: 129px;
    max-width: 129px;
  }

  .navbar.navbar-search > div.container {
    max-width: 918px;
  }

  .navbar-search .search-field {
    max-width: 245px;
  }

  .navbar-search .search-query-form {
    max-width: 100%;
    padding-right: 0;
  }

  .search-btn {
    margin-top: 0;
    margin-left: 8px;
  }

  .search-q {
    margin-top: 0;
  }

  .twitter-typeahead {
    width: 30%;
  }
}


@media screen and (min-width: $xlarge_device) {
  .input-group {
    width: 100%;
    max-width: 1100px;
  }

  .navbar.navbar-search > div.container {
    max-width: 1100px;
  }

  .navbar-search .search-query-form {
    flex: 0 0 100%;
  }

  .fulltext-info {
    top: 103%;
    left: 24%;
    width: 46%;
  }

}
}
