/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.dd {
  margin-left:  22%;
  text-align: justify;
}

.dt {
  position: relative;
}

.document-title{
  padding-left: 10px;
  padding-bottom: 10px;
}
.document-title-heading {
  display: contents;
  position: static;
  max-width: 45%;
  margin-bottom: 3%;
}

.documentHeader{
  padding-left: 19px!important;
  display: -webkit-box;
}

.document-metadata {
  display: contents;
  position: static;
  max-width: 55%;
  margin-bottom: 3%;
}

.search-highlight {
  background-color: yellow;
}

//.name{
//  font: $yale_roman;
//  font-size: 24px;
//}
//.itemprop name{
//  font-size: 24px!important;
//  color:$yale_blue
//}

.h1 {
  font-size: 24px!important;
  color:$yale_blue;
  font: $yale_roman;
}


.name{
  font-size: 24px!important;
  color:$yale_blue;
  font: $yale_roman;
}

.universal-viewer-iframe{
  width: 90%;
  padding-left: 8%;
  align-content: center;
}


@media screen and (min-width: $medium_device) {
  .dl-invert dt {
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px!important;
  }

  .document-metadata {
    max-width: 55%;
    margin-bottom: 3%;
  }

  .col-md-9 {
    padding-left: 25%;
  }

  .uv-container{
    width: 100%;
    padding-left: 8%;
    align-content: center;
  }
}

@media screen and (min-width: $large_device) {

  .dl-invert dt {
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px!important;
  }

  .document-metadata {
    max-width: 55%;
    margin-bottom: 3%;
  }

  .col-md-9 {
    padding-left: 25%;
  }

}

@media screen and (min-width: $xlarge_device) {

  .dl-invert dt {
    position: absolute;
  }

  .document-metadata {
    max-width: 55%;
    margin-bottom: 3%;
  }

  .col-md-9 {
    padding-left: 25%;
  }

  .uv-container{
    width: none;
    padding-left: 15%;
    align-content: center;
  }
}