/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.card{
  border: none;
}

.iiif-logo img {
  display: none;
}

.list-group{
  display: -webkit-box;
}

.list-group-item {
  border: none;
  color: $light_blue!important;
  display: flex;
  text-align: left;
  padding: 0 0 0 0;
}

.show-links {
  color: $medium_grey;
  font: $mallory_medium;
  font-size: 12px!important;
  text-transform: uppercase;
}

.show-tools {
  color: $medium_grey;
  font: $mallory_medium;
  font-size: 12px!important;
  text-transform: uppercase;
}

#emailLink {
  color: $light_blue !important;
  font: $mallory_medium;
  font-size: 11px;
  text-transform: uppercase;
}

#emailLink:after{
  content: ' >';
}

#citationLink {
  color: $light_blue !important;
  font: $mallory_medium;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 0px;
}

#citationLink:after{
  content: ' >';
}

#smsLink {
  color: $light_blue !important;
  flex-wrap: wrap;
  font: $mallory_medium;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 0px;
}

#smsLink:after{
  content: ' >';
}

#manifestLink {
  color: $light_blue !important;
  font: $mallory_medium;
  font-size: 11px;
  text-transform: uppercase;
}

#manifestLink:after{
  content: ' >';
}

// metadata grouping
// override absolute position from .dl-invert dt
.dl-invert dt {
  position: relative;
  text-align: left;
}

// metadata block container
// .document-metadata {
//   position: relative;
//   display: grid;
//   max-width: 100%;
//   grid-template-columns: auto auto;
//   grid-template-rows: auto;
//   grid-template-areas: 
//     "descriptionT descriptionD"
//     "keywordsT keywordsD"
//     "originT originD"
//     "identifiersT identifiersD"
//     "usageT usageD"
//     "sourceT sourceD";
// }

// // metadata groups
// // description
// // abstract, alternativeTitle, description, extent, extentOfDigitization, 
// // illustrativeMatter, numberOfPages, projection, references, scale, 
// // subtitle, subtitle_vern
// .blacklight-abstract_tesim .blacklight-alternativeTitle_tesim .blacklight-description_tesim .blacklight-extent_ssim .blacklight-extentOfDigitization_ssim .blacklight-numberOfPages_ssim .blacklight-illustrativeMatter_tesim .blacklight-projection_tesim .blacklight-references_tesim .blacklight-scale_tesim .blacklight-subtitle_tesim .blacklight-subtitle_vern_tesim dt {
//   grid-area: descriptionT;
// }

// .blacklight-abstract_tesim .blacklight-alternativeTitle_tesim .blacklight-description_tesim .blacklight-extent_ssim .blacklight-extentOfDigitization_ssim .blacklight-numberOfPages_ssim .blacklight-illustrativeMatter_tesim .blacklight-projection_tesim .blacklight-references_tesim .blacklight-scale_tesim .blacklight-subtitle_tesim .blacklight-subtitle_vern_tesim dd {
//   grid-area: descriptionD;
// }

// // keywords
// // format, genre, geoSubject, material, resourceType, 
// // subjectName, subjectTopic
// .blacklight-format .blacklight-genre_ssim .blacklight-geoSubject_ssim .blacklight-material_tesim .blacklight-resourceType_ssim .blacklight-subjectName_ssim .blacklight-subjectTopic_ssim .blacklight-subjectTopic_tesim dt {
//   grid-area: keywordsT;
// }

// .blacklight-format .blacklight-genre_ssim .blacklight-geoSubject_ssim .blacklight-material_tesim .blacklight-resourceType_ssim .blacklight-subjectName_ssim .blacklight-subjectTopic_ssim .blacklight-subjectTopic_tesim dd {
//   grid-area: keywordsD;
// }

// // origin
// // author, author_vern, coordinates, copyrightDate, date, digital, 
// // edition, language, publicationPlace, publisher, published, 
// // published_vern, sourceCreated, sourceDate, source, sourceEdition, 
// // sourceNote, sourceTitle
// .blacklight-author_tsim .blacklight-author_vern_ssim .blacklight-coordinates_ssim .blacklight-copyrightDate_ssim .blacklight-date_ssim .blacklight-digital_ssim .blacklight-edition_ssim .blacklight-publicationPlace_ssim .blacklight-publisher_ssim .blacklight-published_ssim .blacklight-published_vern_ssim .blacklight-sourceCreated_tesim .blacklight-sourceDate_tesim .blacklight-source_ssim .blacklight-sourceEdition_tesim .blacklight-sourceNote_tesim .blacklight-sourceTitle_tesim dt {
//   grid-area: originT;
// }

// .blacklight-author_tsim .blacklight-author_vern_ssim .blacklight-coordinates_ssim .blacklight-copyrightDate_ssim .blacklight-date_ssim .blacklight-digital_ssim .blacklight-edition_ssim .blacklight-publicationPlace_ssim .blacklight-publisher_ssim .blacklight-published_ssim .blacklight-published_vern_ssim .blacklight-sourceCreated_tesim .blacklight-sourceDate_tesim .blacklight-source_ssim .blacklight-sourceEdition_tesim .blacklight-sourceNote_tesim .blacklight-sourceTitle_tesim dd {
//   grid-area: originD;
// }

// // identifiers
// // box, children, collectionId, findingAid, folder, identifierMfhd, 
// // identifierShelfMark, importUrl, isbn, lc_callnum, orbisBarcode, 
// // orbisBibId, oid, partOf, uri, url_fulltext, url_suppl
// .blacklight-box_ssim .blacklight-children_ssim .blacklight-collectionId_ssim .blacklight-findingAid_ssim .blacklight-folder_ssim .blacklight-identifierMfhd_ssim .blacklight-identifierShelfMark_ssim .blacklight-importUrl_ssim .blacklight-isbn_ssim .blacklight-lc_callnum_ssim .blacklight-orbisBarcode_ssi .blacklight-orbisBibId_ssi .blacklight-oid_ssi .blacklight-partOf_ssim .blacklight-uri_ssim .blacklight-url_fulltext_ssim .blacklight-url_suppl_ssim dt {
//   grid-area: identifiersT;
// }

// .blacklight-box_ssim .blacklight-children_ssim .blacklight-collectionId_ssim .blacklight-findingAid_ssim .blacklight-folder_ssim .blacklight-identifierMfhd_ssim .blacklight-identifierShelfMark_ssim .blacklight-importUrl_ssim .blacklight-isbn_ssim .blacklight-lc_callnum_ssim .blacklight-orbisBarcode_ssi .blacklight-orbisBibId_ssi .blacklight-oid_ssi .blacklight-partOf_ssim .blacklight-uri_ssim .blacklight-url_fulltext_ssim .blacklight-url_suppl_ssim dd {
//   grid-area: identifiersD;
// }

// // usage
// // rights
// .blacklight-rights_ssim dt {
//   grid-area: usageT;
// }

// .blacklight-rights_ssim dd {
//   grid-area: usageD;
// }

// // migration source
// // recordtype
// .blacklight-recordtype_ssi dt {
//   grid-area: sourceT;
// }

// .blacklight-recordtype_ssi dd {
//   grid-area: sourceD;
// }

// // inserting metadata grouping titles and spacing
// dt.blacklight-first_description:before {
//   content: "Description \00000a \00000a";
//   white-space: pre;
//   font-weight: 500;
//   font-family: $yale_roman, $mallory_medium, Arial, Helvetica, sans-serif;
//   font-size: 18px;
//   text-decoration: overline underline;
// }

// dd.blacklight-first_description:before {
//   content: "\00000a \00000a";
//   white-space: pre;
// }

// dt.blacklight-first-keyword:before {
//   content: "Keywords \00000a \00000a";
//   white-space: pre;
//   font-weight: 500;
//   font-family: $yale_roman, $mallory_medium, Arial, Helvetica, sans-serif;
//   font-size: 18px;
//   text-decoration: overline underline;
// }

// dd.blacklight-first-keyword:before {
//   content: "\00000a \00000a";
//   white-space: pre;
// }

// dt.blacklight-first-origin:before {
//   content: "Origin \00000a \00000a";
//   white-space: pre;
//   font-weight: 500;
//   font-family: $yale_roman, $mallory_medium, Arial, Helvetica, sans-serif;
//   font-size: 18px;
//   text-decoration: overline underline;
// }

// dd.blacklight-first-origin:before {
//   content: "\00000a \00000a";
//   white-space: pre;
// }

// dt.blacklight-first-identifier:before {
//   content: "Identifiers \00000a \00000a";
//   white-space: pre;
//   font-weight: 500;
//   font-family: $yale_roman, $mallory_medium, Arial, Helvetica, sans-serif;
//   font-size: 18px;
//   text-decoration: overline underline;
// }

// dd.blacklight-first-identifier:before {
//   content: "\00000a \00000a";
//   white-space: pre;
// }

// dt.blacklight-rights_ssim:before {
//   content: "Usage \00000a \00000a";
//   white-space: pre;
//   font-weight: 500;
//   font-family: $yale_roman, $mallory_medium, Arial, Helvetica, sans-serif;
//   font-size: 18px;
//   text-decoration: overline underline;
// }

// dd.blacklight-rights_ssim:before {
//   content: "\00000a \00000a";
//   white-space: pre;
// }

// dt.blacklight-recordtype_ssi:before {
//   content: "Migration Source \00000a \00000a";
//   white-space: pre;
//   font-weight: 500;
//   font-family: $yale_roman, $mallory_medium, Arial, Helvetica, sans-serif;
//   font-size: 18px;
//   text-decoration: overline underline;
// }

// dd.blacklight-recordtype_ssi:before {
//   content: "\00000a \00000a";
//   white-space: pre;
// }


@media screen and (min-width: $medium_device) {
}

@media screen and (min-width: $large_device) {
  .show-tools{
    margin-right: -34%;
  }
  .show-links{
    margin-right: -34%;
  }
}

@media screen and (min-width: $xlarge_device) {
  .show-tools{
    margin-right: -13%;
  }
  .show-links{
    margin-right: -13%;
  }
}

