/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.card{
  border: none;
}

.iiif-logo img {
  display: none;
}

.list-group{
  display: -webkit-box;
}

.list-group-item {
  border: none;
  color: $light_blue!important;
  display: flex;
  text-align: left;
  padding: 0 0 0 0;
}

.show-links {
  color: $medium_grey;
  font: $mallory_medium;
  font-size: 12px!important;
  text-transform: uppercase;
}

.show-tools {
  color: $medium_grey;
  font: $mallory_medium;
  font-size: 12px!important;
  text-transform: uppercase;
}

#emailLink {
  color: $light_blue !important;
  font: $mallory_medium;
  font-size: 11px;
  text-transform: uppercase;
}

#emailLink:after{
  content: ' >';
}

#citationLink {
  color: $light_blue !important;
  font: $mallory_medium;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 0px;
}

#citationLink:after{
  content: ' >';
}

#smsLink {
  color: $light_blue !important;
  flex-wrap: wrap;
  font: $mallory_medium;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 0px;
}

#smsLink:after{
  content: ' >';
}

#manifestLink {
  color: $light_blue !important;
  font: $mallory_medium;
  font-size: 11px;
  text-transform: uppercase;
}

#manifestLink:after{
  content: ' >';
}

// metadata grouping
.dl-invert dt {
  text-align: left;
}

@media screen and (min-width: $medium_device) {
}

@media screen and (min-width: $large_device) {
  .show-tools{
    margin-right: -34%;
  }
  .show-links{
    margin-right: -34%;
  }
}

@media screen and (min-width: $xlarge_device) {
  .show-tools{
    margin-right: -13%;
  }
  .show-links{
    margin-right: -13%;
  }
}

