/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

//Archival Context

.blacklight-ancestortitles_tesim {
  padding-right: 4px;
  width: 1080px;
  font-family: $mallory_medium, Arial;
  font-weight: 600;
  color: $medium_grey;
  font-size: 14px;
}

dt.blacklight-containergrouping_tesim.metadata-block__label-key {
  width: 25%;
  margin-bottom: 2%;
}

dd.blacklight-containergrouping_tesim.metadata-block__label-value.metadata-block__label-value--yul {
  flex: available;
  flex: -moz-available;
  position: relative;
  min-width: 5%;
  max-width: 30%;
}

dt.blacklight-ancestordisplaystrings_tesim.metadata-block__label-key {
  width: fit-content;
  width: -moz-fit-content;
  margin-top: 2%;
}

.archival-context {
  display: flex;
  width: 83%;
  left: 8%;
  position: relative;
}

.archival-context a {
  text-decoration: none;
}

.archival-context a:active, .archival-context a:focus, .archival-context a:hover {
  text-decoration: underline;
}

.archival-context-key {
  width: 75px;
  height: 20px;
}

.show-buttons > .btn-show {
  text-transform: uppercase;
}

.btn-show {
  @extend .sm-btn;
  color: $yale_blue;
  border-color: $border_grey;
  border-width: 1px;
  margin: 4px 4px 4px 0px;
}

.card {
  border: none;
}

.overlay-button {
  border: none;
  padding: 0.5em 1em;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'YaleNew-Roman';
  background-color: #286dc0;
  color: white;
  font-size: 28px;
}

.overlay-first {
  margin-top: 1.5em; 
  margin-bottom: 1.5em; 
  margin-left: 1em;
}

.overlay-middle {
  margin-left: 1em;
}

.overlay-last {
  margin-left: 1em; 
  margin-bottom: 1.5em;
}

.hide-object {
  text-align: center;
  margin-top: 10px;
}

//Control the appearance of hierarchy icons and space
.aSpaceBranch {
  position: absolute;
  height: 15px;
  width: 15px;
  border-left: 2px solid $light_grey;
  border-bottom: 2px solid $light_grey;
  padding: 20px 16px 0 1px;
  top: -12px;
  left: -20px;
}

.aSpaceBranch img {
  position: absolute;
  height: 15px;
  width: 15px;
}

.yaleASpaceItemThis {
  color: $white;
  background-color: $medium_green;
  border: solid 4px $medium_green;
  font-size: 10px;
  margin-right: 1.5%;
}

.yaleASpaceItemThis span {
  display: block;
  margin-right: 5px;
}

.showpage_no_label_tag.blacklight-archivespaceuri_ssi {
  font-family: $mallory_bold;
  font-size: 14px;
  background-color: $lighter_grey;
  margin: 0px 0px 15px 0px;
  padding: 2%;
  width: 100%;
  #popup_window {
    padding-left: 1.5%;
    padding-bottom: 0.75%;

    .iiif-logo img {
      margin-top: -3px;
    }
  }
}

.showpage_no_label_tag.blacklight-findingaid_ssim {
  font-family: $mallory_bold;
  font-size: 14px;
  padding: 2%;
  background-color: $lighter_grey;
  margin: 0px 0px 15px 0px;
  width: 100%;
  #popup_window{
    padding-left: 1.5%;
    padding-bottom: 0.75%
  }
}

.record-not-found {
  font-family: $yale_new_roman;
}

.tiff-staged {
  font-family: $yale_new_roman;
}

.show-tools .list-group {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1%;
}

.list-group-item {
  border: none;
  color: $light_blue!important;
  display: flex;
  text-align: left;
  padding: 0 0 0 0;
}

.show-document .constraints-container {
  margin-left: 1%;
  align-items: center;
  display: flex;
  z-index: 1;
  position: relative;
}

.show-buttons {
  align-items: center;
}

.show-links {
  color: $medium_grey;
  font: $mallory_medium;
  font-size: 12px!important;
  text-transform: uppercase;
}

.show-tools {
  color: $medium_grey;
  font: $mallory_medium;
  font-size: 12px!important;
  text-transform: uppercase;
}

.link-card-header {
  display: none;
}

.manifest{
  position: absolute;
  top: -47px;
  margin-left: 55px;
  background: transparent;
}

.show-tools a, .show-tools a#citationLink {
  color: $light_blue !important;
  font: $mallory_medium;
  font-size: 12px!important;
  text-transform: uppercase;
}

.show-tools a:hover {
  text-decoration: underline;
}

.show-tools .not-found span {
  color: $medium_grey !important;
}

.show-tools .not-found a:hover {
  text-decoration: none;
}

.show-tools a.nav-link, .show-tools span.nav-link {
  padding: 0.5rem 0.25rem 1rem;
}

// Cite Modal
.modal-header {
  justify-content: space-between;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:hover, .nav-link a:focus, .nav-link a:active {
  text-decoration:  underline;
}

#citationLink:after, #manifestLink:after, #miradorLink:after, #pdfLink:after {
  content: ' >';
}

// metadata grouping
.dl-invert dt {
  text-align: left;
}

//Title on Single Items and Search Result pages
//Replace Yale Roman with Yale Display when its available.
.show-header-container {
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  width: 82%;
  left: 8%;
  position: relative;
}

.show-header {
  font-family: $yale_new_roman, 'Times New Roman', Times, serif !important;
  font-size: 1.5rem;
  color: $yale_blue;
  width: 80%;
}

.show-bookmark {
  width: 2%;
  position: absolute;
  right: 6.5%;
  top: 18%;
}

.universal-viewer-iframe {
  width: 90%;
  padding-left: 8%;
  align-content: center;
}

.uv-container {
  position: relative;
}

#sensitive-overlay {
  width: 82%;
  height: 100%;
  align-content: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 8%;
  padding-left: 0%;
  align-content: center;
  background: #00356b;
  color: #fffffe;
  display: flex;
  flex-direction: column;
  font-family: 'YaleNew-Roman';
}

.overlay-first, .overlay-middle, .overlay-last {
  font-size: 18px;
  margin-right: 1em;
}

.overlay-bottom {
  font-size: 18px;
  margin-left: 1em; 
  margin-right: 1em;
  margin-bottom: 2em;
}

.overlay-link {
  color: #63aaff; 
  text-decoration: underline;
}

#uv-pages,
#parent-oid {
  display: none;
}

// metadata-block is shared class on search results page
.metadata-block dt {
  font-size: 14px;
  color: $medium_grey;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif !important;
  font-weight: 900;
}

.metadata-block dd {
  font-size: 14px;
  color: $medium_grey;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif !important;
  font-weight: 500;
  padding-left: 25px;
}

.metadata-block__group {
  display: flex;
  flex-flow: row wrap;
}

.metadata-block__group dt {
  float: left;
  width: 25%;
}

.metadata-block__group dd {
  float: right;
  width: 75%;
}

.terms-form-cancel {
  color: white;
  background-color: red;
  border-radius: 8px;
  height: 36px;
  margin-right: 190px;
}

.terms-form-submit {
  color: white;
  background-color: $light_blue; 
  border-radius: 8px;
  height: 38px;
  width: 80px;
}

.terms-heading {
  color: #ad1c2a;
  font-family: 'YaleDisplay-Roman'
}

.terms-subheader {
  width: 100%;
}

.terms-title {
  font-family:'Mallory-Book', 'Mallory-Light', Arial, Helvetica, sans-serif !important
}

.terms-body {
  font-family:'Mallory-Book', 'Mallory-Light', Arial, Helvetica, sans-serif !important
}

#permission_request_user_note {
  width: 400px;
}

.blacklight-terms_hide_truncate_link, .blacklight-terms_show_truncate_link {
  color: $dark_grey !important;
}

.blacklight-terms_hide_truncate_link:hover, .blacklight-terms_show_truncate_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.line-clamp-five {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 5 lines */
  -webkit-line-clamp: 5;
}

.blacklight-ancestortitles_tesim a{
  color: $light_blue;
}

.single-item-show {
  border-bottom: 1px solid $light_grey;
  margin-bottom: 45px;
  padding-bottom: 25px;
}

.single-item-show.metadata-block h2 {
  color: $yale_blue;
  font-family: $yale_new_roman, 'Times New Roman', Times, serif !important;
  font-size: 28px;
}

.single-item-show.metadata-block a {
  color: $light_blue;
  text-decoration: none;
}

.single-item-show.metadata-block a:hover, .single-item-show.metadata-block a:focus, .single-item-show.metadata-block a:active {
  color: $light_blue;
  text-decoration: underline;
}

.single-item-show .metadata-block dt {
  font-size: 14px;
  color: $medium_grey;
  font-family: $mallory_mp_black, $mallory_medium, Arial, Helvetica, sans-serif !important;
  font-weight: 900;
}

.single-item-show .metadata-block dd {
  font-size: 14px;
  color: $medium_grey;
  font-family: $mallory_mp_black, $mallory_medium, Arial, Helvetica, sans-serif !important;
  font-weight: 300;
}

.yale-owp-restricted-work-text {
  font-family: $mallory_medium, Arial, Helvetica, sans-serif;
  font-size: .9rem;
  color: $yale_blue;
}

.yale-owp-restricted-work-text a {
  font-family: $mallory_bold, Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.text-container {
  background-color: $lightest_blue;
  border: 1px solid $yale_blue;
  border-radius: 5px;
  padding: 2%;
}

.text-container p {
  margin: 0;
}

h2.yale-restricted-work-text {
  font-size: 1.5em;
  margin-left: 8%;
  width: 90%;
}
.tools-text-format{
  margin-left: -3%;
}

p.yale-restricted-work-text{
  margin-left: 8%;
  width: 90%;
}

.ASpace_Icon{
  height: 16px;
  width: 18px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.aSpace_tree {
  margin-top: 5%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  width: fit-content;
  margin-left: -5%;
  float: left;
}

.aSpace_tree ul{
  list-style: none;
  margin-top: 10px;
}

.aSpace_tree li {
  right: 9%;
  padding-bottom: 0;
  list-style: none;
  position: relative;
  margin: 0;
  left: -3%;
}

.yaleASpaceHomeNested li {
  right: 1%;
}

.yaleASpaceStackNested li{
  right: 1%;
  top: 1%;
}

.yaleASpaceHome li, .yaleASpaceStack li, .yaleASpaceFolder li{
  list-style: none;
}

.yaleASpaceHomeNested ul, .yaleASpaceStackNested ul, .yaleASpaceFolderNested ul{
  list-style: none;
}

.yaleASpaceItemTitle {
  display: inline;
}

//Control the appearance of hierarchy icons and space
.aSpaceBranch {
  position: absolute;
  height: 15px;
  width: 15px;
  border-left: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  padding: 20px 16px 0 1px;
  top: -12px;
  left: -20px;
}

.aSpaceBranch img {
  position: absolute;
  height: 15px;
  width: 15px;
}

.from-the-collection{
  font-style: italic;
}

@media screen and (min-width: $medium_device) {
  .show-document .constraints-container {
    margin-left: -.5%;
    width: 118%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    z-index: 1;
    position: relative;
  }

  .universal-viewer-iframe {
    width: 100%!important;
    padding-left: 8%;
    align-content: center;
  }

  .uv-container {
    position: relative;
  }

  #sensitive-overlay {
    width: 92%!important;
    height: 100%;
    align-content: center;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 8%;
    padding-left: 0%;
    align-content: center;
    background: #00356b;
    color: #fffffe;
    display: flex;
    flex-direction: column;
    font-family: 'YaleNew-Roman';
  }
  
  .overlay-first, .overlay-middle, .overlay-last  {
    font-size: 1.6rem;
  }

  .overlay-bottom {
    margin-left: 1em; 
    margin-bottom: 1.5em; 
    margin-right: 1em;
    font-size: 1.6rem;
  }

  .hide-object {
    text-align: center;
    margin-top: 10px;
    padding-left: 10%;
  }

  .show-header-container,
  .yale-restricted-work-text {
    width: 92%;
  }

  .archival-context {
    left: 8%;
    width: 92%;
  }

  .single-item-show {
    width: 625px;
  }

  .text-container {
    margin-left: 8%;

margin-bottom: 2%;  }

  .item-page__metadata-wrapper {
    padding-left: 8%;
  }

  .hidden {
    display: none;
  }

  .item-page-fulltext-wrapper {
    width: 118%;
    padding-bottom: 25px;

    .fulltext-button {
      font-size: 14px;
      color: $medium_grey;
      font-family: $mallory_medium, Arial, Helvetica, sans-serif !important;
      font-weight: 900;
      padding-bottom: 15px;
      background: none;
      border: none;
      margin-right: 0;
      margin-left: auto;
      display: block;
    }
  }

  .show-buttons {
    justify-self: center;
  }

  .item-page__tools-wrapper {
    max-width: 628px;
    margin-left: 8%;
  }

  .aSpace_tree {
    margin-top: 3%;
    width: fit-content;
  }

  .aSpaceBranch {
    padding: 20px 20px 0 1px;
    left: -31px;
  }

  .aSpace_tree li {
    left: 0;
  }
}


@media screen and (min-width: $large_device) {
  .show-document .constraints-container {
    margin-left: 0.5%;
    width: 140%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    z-index: 1;
    position: relative;
  }

  .record-not-found {
    min-height: 200px;
  }

  .show-tools {
    margin-right: -34%;
  }

  .show-links {
    margin-right: -34%;
  }

  .universal-viewer-iframe {
    width: 115%!important;
    padding-left: 19%;
    align-content: center;
  }

  .uv-container {
    position: relative;
  }

  #sensitive-overlay {
    width: 96%!important;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 19%;
    padding-left: 0%;
    align-content: center;
    background: #00356b;
    color: #fffffe;
    display: flex;
    flex-direction: column;
    font-family: 'YaleNew-Roman';
  }

  .overlay-first, .overlay-middle, .overlay-last {
    font-size: 1.60rem;
  }

  .overlay-bottom {
    margin-left: 1em; 
    margin-bottom: 1.5em; 
    margin-right: 1em;
    font-size: 1.60rem;
  }

  .hide-object {
    text-align: center;
    margin-top: 10px;
    padding-left: 35%;
  }

  .show-header-container,
  .yale-restricted-work-text {
    width: 97%;
    left: 19%;
  }

  .archival-context {
    left: 19%;
    width: 96%;
  }

  .single-item-show {
    width: 735px;
  }

  .text-container {
    margin-left: 19%;
    margin-bottom: 2%;
  }

  .item-page__metadata-wrapper {
    padding-left: 19%;
  }

  .show-buttons {
    justify-self: center;
  }

  .tools-text-format{
    margin-left: -2.5%;
  }

  .item-page__tools-wrapper{
    max-width: 740px;
    margin-left: 19%;
  }

  .show-document #appliedParams {
    width: 130%;
  }

  h2.yale-restricted-work-text{
    margin-left: 19%;
    width: 120%;
  }

  p.yale-restricted-work-text{
    margin-left: 19%;
    width: 120%;
  }

  .aSpace_tree {
    width: fit-content;
  }

  .aSpace_Data_Block{
    width: 95%;
  }

  .showpage_no_label_tag, .blacklight-archivespaceuri_ssi{
    margin: 0;
    padding-left: 2%;
  }

  .showpage_no_label_tag,.blacklight-findingaid_ssim{
    padding-left: 2%;
  }

  dt.blacklight-containergrouping_tesim.metadata-block__label-key{
    padding-bottom: 2%;
  }
  .showpage_no_label_tag{
    #popup_window{
      padding-left: 1.5%;
      padding-bottom: 0.75%;
    }
  }
}


@media screen and (min-width: $xlarge_device) {
  .show-document .constraints-container {
    width: 144%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    z-index: 1;
    position: relative;
  }

  .record-not-found {
    min-height: 400px;
  }

  .show-tools {
    margin-right: -13%;
  }

  .show-links {
    margin-right: -13%;
  }

  .universal-viewer-iframe {
    width: 115%!important;
    padding-left: 19%;
    align-content: center;
  }

  .uv-container {
    position: relative;
  }

  #sensitive-overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 19%;
    padding-left: 0%;
    width: 96%!important;
    height: 668px;;
    background: #00356b;
    color: #fffffe;
    display: flex;
    flex-direction: column;
    font-family: 'YaleNew-Roman';
  }

  .overlay-first, .overlay-middle, .overlay-last {
    font-size: 1.75rem;
  }

  .overlay-bottom {
    margin-left: 1em; 
    margin-bottom: 2em;
    margin-right: 1em;
    font-size: 1.75rem;
  }

  .hide-object {
    text-align: center;
    margin-top: 10px;
    padding-left: 35%;
  }

  .show-header-container,
  .yale-restricted-work-text {
    width: 96%;
  }

  .single-item-show {
    width: 118%;
  }

  .text-container {
    margin-left: 19%;
    margin-bottom: 2%;
  }

  .item-page__metadata-wrapper {
    padding-left: 19%;
  }

  .item-page__tools-wrapper{
    max-width: 890px;
    min-width: 880px;
  }

  .tools-text-format{
    margin-left: -2.25%;
  }

  .show-tools.list-group{
    margin-left: -0.5%;
  }

  .aSpace_tree {
    margin-top: 2%;
    margin-left: -3%;
  }
}
