/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.btn-outline-secondary,
.btn-outline-secondary.active:not(:disabled):not(.disabled),
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:hover,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: $lightest_grey;
  border-color: $lightest_grey;
  color: $yale_blue;
}

.caret {
  padding-left: 15px;
  background-size: 11px;
  background-position-x: right;
  background-position-y: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.dropdown-toggle {
  border-bottom: none;
}

.dropdown-toggle::after {
  content: none;
}

#per_page-dropdown,
#sort-dropdown {
  background-color: $lightest_grey;
  margin-right: 8px;
}

#per_page-dropdown .caret,
#sort-dropdown .caret {
  background-image: image-url('light-blue-down-arrow.png');
}

#per_page-dropdown.show .caret,
#sort-dropdown.show .caret {
  background-image: image-url('light-blue-up-arrow.png');
}

.search-widgets {
  display: flex;
}

.search-widgets .btn {
  border: none;
  padding: 15px;
  text-transform: uppercase;
  color: $yale_blue;
  font-family: $mallory_medium;
  font-size: 16px;
}

.clear-bookmarks {
  background-color: #767676;
  color: white !important;
}

.view-type-group > .btn-outline-secondary:first-child {
  margin-right: 8px;
}