/********************************************************
DEFAULT MOBILE STYLING
********************************************************/

.user-subheader {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
  display: flex;
  border-bottom: .5px solid $light_grey;
  padding-bottom: 6px;
}

.user-subheader-title {
  font-family: $yale_roman; // TO-DO: should be Yaledisplay_roman
  color: $yale_blue;
  font-size: 30px;
  overflow: visible;
  width: 250px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.user-subheader-options {
  font-family: $mallory_medium;
  color: $medium_grey;
  display: flex;
  padding-left: 18%;
  padding-top: 2%;
}

.user-subheader-current-user {
  display: flex;
}

.user-subheader-logout {
  padding-left: 10%;
  display: flex;
}

.user-subheader-logout a {
  display: flex;
  color: $medium_grey !important;
}

.logout-logo {
  background-image: image-url("header/icon-logout.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  padding-right: 40%;
  width: 25px;
  height: 25px;
}

.user-logo {
  background-image: image-url("header/icon-user.png");
  background-repeat: no-repeat;
  background-size: 22px;
  padding-right: 40%;
  width: 30px;

}


@media screen and (min-width: $small_device) {
  .user-subheader {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: $medium_device) {
  .user-subheader {
    width: 87%;
  }

  .user-subheader-options {
    padding-left: 35%;
  }

  .user-subheader-logout {
    padding-left: 7.5%;
  }
}


@media screen and (min-width: $large_device) {
  .user-subheader-title {
    font-size: 30px;
    width: 300px;
  }

  .user-subheader-options {
    padding-left: 45%;
    padding-top: 2%
  }
}


@media screen and (min-width: $xlarge_device) {
  .user-subheader {
    width: 85%;
  }

  .user-subheader-options {
    padding-left: 52.5%;
  }
}