<div id="blacklight-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  	  <div class="modal-dialog modal-lg" role="document">
  	    <div class="modal-content">
          <% @documents&.each do |document| %>
            <h2 class="modal-title"><%= document_heading(document) %></h2>
          <% end %>
  	    </div>
  	  </div>
</div>
