<% if session[:show_ai_option] && !object_owp?(@document) %>
  <div class="archival-context alert alert-secondary" role="alert"
       id="collections-ai-link"
    style="margin-bottom: 1rem;"
  >
    <div>
      ChatGPT and Claude can help you find out more about the text contained in this object.
      <% if document['visibility_ssi'] == 'Yale Community Only' && !User.on_campus?(request.remote_ip)  %>
        This object has <b>Yale Community Only</b> access.  Please connect to <a href="https://yale.service-now.com/it?id=service_offering&sys_id=c4684dcd6fbb31007ee2abcf9f3ee4f2&table=u_service_offering_index">Yale's VPN</a> to use Collections AI with this object.
      <% else %>
        <a href="https://collections-ai.library.yale.edu/?iiif-content=https://collections.library.yale.edu/manifests/<%= @document.id %>"
           style="color: #006EF5;"
           target="_blank">Open the Collections AI tool in a new window.</a>
      <% end %>
    </div>
  </div>
<% end %>