<%  # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
%>

<span class="btn-group applied-filter constraint query <%= options[:classes].join(" ") if options[:classes] %>">
  <% href = 'x2x.png' %>
  <%= link_to safe_join([
                      content_tag(:span, label, class: 'filter-name'),
                      content_tag(:span, value, class: 'filter-value'),
                      content_tag(
                          :span, image_tag(href, class:'remove-icon', alt: ""),
                          class: 'btn btn-outline-secondary remove'
                      )]),
              options[:remove],
              class: "constraint-value btn btn-outline-secondary",
              role: "button"
  %>
</span>
