<% if @document['has_fulltext_ssi'] == 'Yes' && client_can_view_digital?(@document) %>
  <section class='item-page-fulltext-wrapper'>
    <div class='fulltext-button'>
      Show Full Text
    </div>
    <div class='row'></div>
  </section>
<% end %>
