<div id='doc_<%= @document.id.to_s.parameterize %>'>
  <%= render_document_partials @document, [:show] %>
</div>

<% if @permission_set_terms.present? %>
  <%# The Terms & Conditions body HTML is provided to grouped_metadata.js via this
      template element. The external JS inserts the metadata rows after the rights
      block and binds expand/truncate handlers via addEventListener. %>
  <template id="grouped-metadata-terms-template"><%= @permission_set_terms['body'] %></template>
<% end %>
