<div>
  <div><h1>Welcome!</h1></div>
  Welcome to the Yale University Digital Collections internal preview site
  
  <ul>
    <li>The initial preview includes approximately 500 publicly accessible items from across the Beinecke's digital holdings</li>
    <li>At launch, the Digital Collections Platform will contain over 125,000 items representing the Beinecke Library’s digital holdings</li>
    <li>In addition, the site will include content belonging to one additional collection from another Yale University Library repository at the initial public launch</li>
    <li>Future phases will incorporate additional content from across YUL's digital holdings</li>
  </ul>
</div>

<div>
  <h3>Please feel free to explore the site and share your feedback with us.</h3>
  The preview is designed to give a fully functional preview of browse, search, and view capabilities as we migrate content from the legacy site. Here's a few things you can do:
  <ul>
    <li>Search for content by Title, Keyword, Call Number, and Author using the search bar above</li>
    <li>Browse content using the "Limit Your Search" facets at the left of the screen</li>
    <li>Pan, zoom, and page through materials by clicking through to the image viewer</li>
  </ul>
</div>

<div>
  There are some features that will be in the final version that may not appear here yet:
  <ul>
    <li>Additional image download features, including PDF and Bulk Image Download</li>
    <li>Yale-only content accessible via CAS login</li>
  </ul>
</div>

<div>
  <h3>Giving Feedback</h3>
  <p>We're using a tool called BugHerd to give stakeholders an easy way to give us clear and precise feedback about your experiences. You can search, browse, and use the site as you normally would. We have created <a href="https://yale.box.com/s/frr5w8gsf349ta10ir576mhprpjodbtv" style='color:#3399ff'>directions</a> for using Bugherd, as its display will vary across machines.</p>
  <span style='color:gray' class='info'><em>NOTE:</em> If you don’t see the BugHerd icon, 
    please see the instructions in the 
    <a href='https://support.bugherd.com/hc/en-us/articles/204171570-Help-The-BugHerd-sidebar-isn-t-appearing-'>BugHerd FAQ</a></span>
</div>
