<%# app/views/catalog/_index_header.html.erb -%>
<%-
  # Main values for an item entry on the index in a search results page.
  doc = document ||= nil
  return unless doc.present?

  # Position of the document in search results.
  document_counter ||= -1
  document_counter = document_counter_with_offset(document_counter)

  # Format counter number that comes before the entry title.
  counter_class ||= nil
  counter =
      unless counter_class == :none
        content_tag(:span, class: counter_class) {
          t('blacklight.search.documents.counter', counter: document_counter)
        }
      end

  # Main title container for document partial.
  title_class ||= nil
  title_class = 'title_tesim'
  unless title_class == :none
  end

-%>
<header class='documentHeader row'>
  <h3 class='index_title document-title-heading <%= title_class %>'>
    <% if !gallery_view? %>
      <span class='counter_no_show' ><%= counter %> </span>
    <% end %>
    <div class='document-title'>
      <%= link_to_document document, document.highlight_field('title_tesim').try(:[],0) || document['title_tesim'], counter:document_counter %>
      <% if current_user %>
        <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2" %>
      <% end %>
    </div>
  </h3>
</header>