<% metadata = [
  'description',
  'collection_information',
  'subjects,_formats,_and_genres',
  'access_and_usage_rights',
  'identifiers'
] %>

<div class='item-page__metadata-wrapper'>
  <% if object_owp?(document) %>
    <%= render 'fulltext_transcription', document: document if client_can_view_digital?(document) %>
    <% metadata.each do | m | %>
      <%= render 'catalog/record/item_metadata', document: document, metadata: m %>
    <% end %>
  <% else %>
    <%= render 'fulltext_transcription', document: document %>
    <% metadata.each do | m | %>
      <%= render 'catalog/record/item_metadata', document: document, metadata: m %>
    <% end %>
  <% end %>
</div>
