<% metadata = [
  'description',
  'keyword',
  'origin',
  'identifier',
  'usage',
  'migration_source'
] %>

<div class='item-page__metadata-wrapper'>
  <% metadata.each do | m | %>
    <%= render 'catalog/record/item_metadata', document: document, section: m %>
  <% end %>
</div>