<% metadata = [
  'description',
  'subjects,_formats,_and_genres',
  'collection_information',
  'access_and_usage_rights',
  'identifier'
] %>

<div class='item-page__metadata-wrapper'>
  <% metadata.each do | m | %>
    <%= render 'catalog/record/item_metadata', document: document, metadata: m %>
  <% end %>
</div>
