<% oid = @document.id %>

<div class="uv-container">
<iframe
    class="universal-viewer-iframe"
    src="<%= request&.base_url %>/uv/uv.html#?manifest=<%= manifest_url(oid) %>"
    width="924"
    height="668"
    allowfullscreen
    frameborder="0">
</iframe>
</div>
</br>
