<div class='item-page__metadata-wrapper'>
  <h2 class='yale-restricted-work-text'><%= restriction_message(@document) %></h2>
  <p class='yale-restricted-work-text'><%= restriction_instructions(@document) %></p>
</div>