<!DOCTYPE html>
<html>
<head>
  <title>Yale Digital Collections Mirador Viewer</title>
  <script src="/mirador.js"></script> 
</head>
<body>
<div id="my-mirador"/> 
<script type="text/javascript">

manifests = {};
windows = [];

manifest = "<%= manifest_url(@oid) %>";

if (manifest) {
    manifests[manifest] = {
        "provider": "Yale University"
    };
    windows.push({
        "loadedManifest": manifest,
        "thumbnailNavigationPosition": 'far-bottom'
    });
}
var mirador = Mirador.viewer({
  "id": "my-mirador",
  "manifests": manifests,
  "windows": windows
});
</script>
</body>
</html>
