<div id="help-guide-container">
  <div class="help-guide-title">
    <h1>Digital Collections Help Guide</h1>
  </div>
  <div class="help-guide-table-of-contents">
    <ul>
      <li><a href="#whats-in-dc">What's in this Digital Collections site?</a></li>
      <li><a href="#how-search-in-dc">How do I search Digital Collections?</a></li>
        <ul>
          <li><a href="#starting-search-in-dc">Starting a search and phrasing your searches</a></li>
          <li><a href="#limiting-search-in-dc">Limiting and sorting your search results</a></li>
          <li><a href="#fulltext-search-in-dc">Full text searching</a></li>
          <li><a href="#advanced-search-in-dc">Advanced searching</a></li>
        </ul>
      <li><a href="#what-info-in-dc">What kind of information is available when I find an item I'm interested in?</a></li>
        <ul>
          <li><a href="#viewing-search-in-dc">Viewing your search results and item pages</a></li>
          <li><a href="#item-viewer-in-dc">The item viewer, IIIF, and linking to materials</a></li>
        </ul>
      <li><a href="#can-download-in-dc">Can I download items? What formats can I download? How?</a></li>
      <li><a href="#cant-view-in-dc">What does it mean if I can't view an item in Digital Collections</a></li>
      <li><a href="#request-view-in-dc">How do I request to view an item in person?</a></li>
      <li><a href="#reuse-images-in-dc">May I reuse images I find in Digital Collections?</a></li>
      <li><a href="#feedbad-in-dc">What if I have feedback on the site, its functionality, or Yale's descriptions?</a></li>
      <li><a href="#additional-resources-in-dc">Additional resources</a></li>
    </ul>
  </div>

  <div class="help-guide-dc-site">
    <h2 id="whats-in-dc">What's in this Digital Collections site?</h2>
    <p>This Digital Collections site provides access to millions of digitized objects from Yale Library’s collections, which include archives and manuscripts, printed books, maps, ephemera, prints and drawings, and photographic material. This site does not include Yale Library’s audiovisual digital collections, which are available via Aviary <a href="https://avcollections.library.yale.edu/">[https://avcollections.library.yale.edu/]</a>, nor licensed e-resources included in the general collections.</p>
    <p>Although the materials in Digital Collections are numerous, they represent only a portion of Yale Library’s collections. More items are being added all the time. Additionally, different collections have been digitized to different extents: some collections are digitized in their entirety, but more often, selections from larger collections are partially digitized and added to Digital Collections. These digitization decisions are prompted by researcher digitization requests and proactive curatorial decisions. </p>
    <p>To browse all items that have been added to Digital Collections, leave the main search box on <a href="https://collections.library.yale.edu/">https://collections.library.yale.edu/</a> empty and click the search button. This will take you to a list of every item currently available.</p>
  </div>

  <div class="help-guide-search">
    <h2 id="how-search-in-dc">How do I search Digital Collections?</h2>
    <h3 id="starting-search-in-dc">Starting a search and phrasing your searches</h3>
    <p>To initiate a search, enter your search terms in the main search box on <a href="https://collections.library.yale.edu/">https://collections.library.yale.edu/</a>. Once you’ve started your search, you will be able to further limit your search on the following page. You will also then be able to perform new searches using the search bar at the top of the page and by accessing the Advanced Search functionality. Access the Advanced Search by clicking the link that says “Advanced Search” that appears underneath the main search box on the Digital Collection home page.</p>
    <p>Some tips for search phrasing include:</p>
    <ul>
      <li>Searches are not case sensitive.</li>
      <li>You may search for phrases by including quotation marks (e.g. “Berkeley College”).</li>
      <li>By default, when you enter 1-2 search terms, the system will return results in which all terms must match. When you enter 3-5 search terms, the system will return results in which all but one term must match. When you enter 6 search terms, the system will return results in which all but 2 must match. When you enter more than 6 search terms, the system will return results in which 90% of terms must match. You may add OR and NOT to change this behavior (e.g. Stiles OR Morse or art NOT British); note you must enter OR and NOT capitalized to use them in this way.</li>
      <li>You may add a tilde (~) to search for search terms within a specified number of words of one another (e.g. “maps Asia”~5 will return results where the term maps occurs within 5 words of the term Asia).</li>
      <li>The wildcard symbol * replaces any number of letters at the end of a search term (e.g. searching mission* will return mission, missions, missionary, and missionaries). You may not use * as the first character of a search.</li>
      <li>The wildcard symbol ? returns items with additional characters after the ? For example, “boat?” will return results for boats and boating (but not for “boat”); searching wom?n will return both women and woman. You may not use ? as the first character of a search.</li>
    </ul>
    <h3 id="limiting-search-in-dc">Limiting and sorting your search results</h3>
    <p>After you’ve run a search, you’ll see a left-hand menu that will allow you to limit your search results by the following facets:</p>
    <ul>
      <li>Access (Public or Yale Community Only, based on copyright and other restrictions)</li>
      <li>Repository: Which Yale library or archive holds the physical material</li>
      <li>Format and Genre: Text, still image, cartographic (i.e., maps), photographs, correspondence, etc.</li>
      <li>Language of the materials</li>
      <li>Subject (Topic): the topic covered by the material (note that library staff selectively apply this topically focused metadata)</li>
      <li>Subject (Name): people covered in the material (note that library staff selectively apply this people-focused metadata)</li>
      <li>Date created</li>
      <li>Full text available</li>
    </ul>
    <p>If you have selected the Repository limit, you’ll be able to further limit your results by Collection title and Grouping -- this will let you find materials in specific archival collections and parts of those collections.</p>
    <p>You’ll also see an option to sort your search results by relevance (how closely object data matches your search criteria), year of creation, and other options.</p>
    <p>If you would like to start a completely new search, you may use the search bar at the top of the page. This will overwrite your previous search criteria.</p>
    <h3 id="fulltext-search-in-dc">Full text searching</h3>
    <p>The search bar at the top of the search results page gives you the option to search either the descriptions of items or the full text of the items themselves. Only a small portion of our collections have full text searching functionality, but full text searching provides a powerful way to search the content of the materials themselves. This search bar only performs new searches, rather than modifying an existing search. Additional options to view or search the full text of an individual item, where available, is provided on an item’s page.</p>
    <h3 id="advanced-search-in-dc">Advanced Search</h3>
    <p>The Advanced Search tool allows you to be more specific in your search queries. Access the menu by conducting an initial search; once you’ve selected Advanced Search, you’ll see a page with numerous search boxes, some tips, and an option to specify whether you want items returned from your search to match any or all of the criteria you’re outlining.</p>
  </div>

  <div class="help-guide-information">
    <h2 id="what-info-in-dc">What kind of information is available when I find an item I'm interested in?</h2>
    <h3 id="viewing-search-in-dc">Viewing your search results and item pages</h3>
    <p>Once you have a set of search results, you may select items of interest to view their item record pages. The search results page will show you thumbnails of images and some basic information about the items in order to allow you to determine whether you’d like to view their full item record pages.</p>
    <p>On the item record pages, you’ll see information about where the item is found; the item viewer; and descriptive information about the item. The descriptive information identifies the item’s title; creation information; extent; language; collection information; context in an archival collection (when relevant); subjects, formats, and genres; and access and usage rights.</p>
    <p>Item pages also include information on how much of an item has been digitized. Items that are partially digitized (e.g., a handful of pages from a longer manuscript) indicate “partially digitized” in the extent of digitization field; items that have been fully digitized (e.g., an entire folder of archival material) indicate “completely digitized.” Items from legacy collections may lack this data. Please contact the relevant repository if you have questions.</p>
    <h3 id="item-viewer-in-dc">The item viewer, IIIF, and linking to materials</h3>
    <p>The Universal Viewer (where you see the online version of the item itself) is IIIF-compliant. More information about IIIF (the International Image Interoperability Framework, pronounced triple-eye-eff) is on the <a href="https://iiif.io/community/faq/">IIIF website</a>.</p>
    <p>The Universal Viewer and IIIF allow you to do several things:</p>
    <ul>
      <li>Page through multipage works</li>
      <li>Control how you’re viewing the item (e.g., as thumbnails or as individual pages)</li>
      <li>Deeply zoom on a page and rotate images</li>
      <li>Use the MORE INFORMATION panel to learn more about the item. Information on this panel includes</li>
        <ul>
          <li>All information available on the item record page</li>
          <li>The identification number (“Image ID”) for the single page or image being viewed</li>
          <li>The direct link to the specific page of the item or image being viewed</li>
        </ul>
      <li><a href="#can-download-in-dc">Download the item</a></li>
      <li>Share or embed content</li>
      <li>See where any full text search results appear in the item, via the bottom scroll bar (only  appears for items with full text)</li>
    </ul>
    <p>In addition to what you see in the Universal Viewer, the Tools menu at the bottom of the item record page also allows you to utilize IIIF functionality, particularly via the IIIF manifest link. All Digital Collections objects have a corresponding IIIF manifest, which is a JSON file that allows you to view and manipulate digital objects using a variety of tools. More information about using manifests is on the <a href="https://iiif.io/get-started/how-iiif-works/">IIIF website</a>. The Tools menu also allows you to generate a citation for the item, view the item in Mirador (a IIIF viewer with different functionality than the Universal Viewer), and download a PDF of the item.</p>
    <p>If you’d like to link to an item in Digital Collections, you may use its URL as a stable link. If you’d like to link to a specific page within a multi-page item, you may do so by navigating to your desired page within the IIIF viewer, opening the MORE INFORMATION panel, and locating the link listed under the “Link to this Image” field.</p>
  </div>

  <div class="help-guide-download">
    <h2 id="can-download-in-dc">Can I download items? What formats can I download? How?</h2>
    <p>To download an object, click on the download icon in the bottom left corner of the Universal Viewer. The download icon features a downward facing arrow above a horizontal bar.</p>
    <div class="uv_image">
      <%= image_tag("help_guide/uv_help_guide.png") %>
    </div>
    <i>The download icon is a downward facing arrow over a horizontal bar located in the bottom left of the Universal Viewer.</i>
    <p>Once you click on the icon, you will be presented with a white pop-up menu with the following options:</p>
    <ul>
      <li><strong>Reduced size (JPG)</strong></li>
        <ul>
          <li>This provides a JPG of the single image that is currently being displayed in the Universal Viewer</li>
          <li>The size is indicated and has smaller dimensions than the original file uploaded to Digital Collections.</li>
        </ul>
      <li><strong>Full size (JPG)</strong></li>
        <ul>
          <li>This provides a JPG of the single image that is currently being displayed in the Universal Viewer.</li>
          <li>In most cases, the size is indicated and has the <strong>same dimensions as the original file uploaded to Digital Collections.</strong></li>
            <ul>
              <li>For some extra-large objects (for example, scrolls or scanned negatives), the JPG may be resized to the largest dimensions available to be delivered as a JPG.</li>
            </ul>
        </ul>
      <li><strong>Full size original (TIFF)</strong></li>
        <ul>
          <li>This is an exact copy of the original TIFF file that was uploaded to Digital Collections.</li>
        </ul>
      <li><strong>Download as PDF</strong></li>
        <ul>
          <li>This provides a single PDF containing all images from an object.</li>
          <li>Each scanned image is on an individual page of the PDF. The individual page also includes the image ID number (OID).</li>
          <li>The PDF includes a cover page with the object’s title, collection title, rights, date generated, and links to the Terms of Use and object’s location in digital collections.</li>
        </ul>
    </ul>
    <p>Click the radio button next to the format you would like to download. Then, click the blue download button on the bottom right of the white pop-up menu.</p>
    <p><strong>Please note that technical metadata may be altered in the download process to reflect a lower dpi than the object was originally digitized at.</strong> You can calculate the maximum reproduction size based on an image’s dimensions. For example, this image download has dimensions of 4516 x 2951px. If we would like to find the maximum reproduction size at 300 dpi, we can divide the length and width by the dpi 300. We could print at a size of approximately 15” x 9.8” (4516/300 by 2951/300).</p>
    <p><strong>If you are downloading a Reduced size or Full size JPG:</strong></p>
    <ul>
      <li>After clicking the download button, a new tab will open in your browser for the image.</li>
      <li>Right click on the image and select “Save Image as.”</li>
      <li>Save the image to your computer.</li>
    </ul>
    <p><strong>If you are downloading a Full size TIFF:</strong></p>
    <ul>
      <li>After clicking the download button, a new tab will open in your browser for the image to inform you that the file will download automatically when ready.</li>
        <ul>
          <li>Please note that, depending on the size of the item, the automatic download may take a few minutes to complete.</li>
          <li>The new browser tab must remain open until the original TIFF file is finished downloading.</li>
        </ul>
      <li>The image file will download automatically when it is ready. Check your ‘downloads’ folder for the file.</li>
      <li>The new browser tab will automatically close once the file has downloaded. This may take a few minutes.</li>
    </ul>
    <p><strong>If you are downloading a PDF:</strong></p>
    <ul>
      <li>After clicking the download button, a new tab will open in your browser for the PDF file.</li>
      <li>Click on the download button (downward facing arrow above a horizontal line) to save the file to your computer.</li>
    </ul>
  </div>

  <div class="help-guide-view-dc">
    <h2 id="cant-view-in-dc">What does it mean if I can't view an item in Digital Collections?</h2>
    <p>Some materials in Yale’s Digital Collections may only be viewed online by members of the Yale community, due to copyright or other restrictions. These materials are indicated by thumbnail images describing this restriction. You may limit your search by access category to exclude or include materials that are restricted to the Yale community.</p>
    <p>Off-campus Yale users may login using their Yale NetID, and anyone, regardless of whether you are affiliated with Yale, is welcome to contact Yale Library staff to inquire about access to a physical copy or an emailed digital copy of the material. To do so, please use the Feedback link in the footer of the Digital Collections.</p>
    <div class="footer_image">
      <%= image_tag("help_guide/footer_help_guide.png") %>
    </div>
    <i>The Feedback link in the footer of the Digital Collection website.</i><br /><br />
    <h2 id="request-view-in-dc">How do I request to view an item in person?</h2>
    <p>For archival collections, you’ll see that the Collection Information section of the item record page includes two links to <a href="https://archives.yale.edu/">Archives at Yale</a>, Yale’s finding aid database for archival collections (i.e., collection guides and inventories). If you’d like to request the item you’re viewing, you may select the “View item information in Archives at Yale” option to see the item record and request the item in Archives at Yale. If you’d like to view the full finding aid for the archival collection, you may select the “View full finding aid for…” option.</p>
    <p>For non-archival collections, the descriptive information also includes Identifiers information at the bottom of the item page, which links to the library catalog (Orbis) record for the item. If you’d like to request to see the item in person, you can do so in the library catalog</p>
    <p>Some objects may not have current catalog links. These objects were migrated from our previous digital collections system, FindIt. We are working on updating the links for these objects. If the catalog links are missing, users can contact the repository listed for more information about an object. To do so, please use the Feedback button in the footer of the object’s page in Digital Collections.</p>
    <h2 id="reuse-images-in-dc">May I reuse images I find in Digital Collections?</h2>
    <p>Images are made available through Digital Collections for research and scholarship. Permission to reuse images you find in Digital Collections depends on the item and your intended use of it. Please check the Access and Usage Rights section of the item page for the item you wish to reuse. You are solely responsible for making legal assessments regarding the use of an item and securing any necessary permissions.</p>
    <p>Please note that we endeavor to provide factual information about copyright status and owners. Please contact Yale Library staff via the Feedback button in the footer of the Digital Collections site if you have more information on material we hold. If you are the copyright owner and believe Digital Collections has not properly attributed your work or has used it without your authorization, please contact our Copyright Librarian at <a href="mailto:copyright.librarian@yale.edu">copyright.librarian@yale.edu</a>.</p>
    <p>For more information, see: <a href="https://guides.library.yale.edu/specialcollections/speccoll-copyrightpermissions">Guide to Using Special Collections at Yale University: Rights and Permissions</a>.</p>
    <p>Additionally, please attribute the work in the manner specified by the applicable library or archive guidelines, without suggestion of endorsement. Attribution will help other people find the materials. Objects may have the preferred citation in the Access and Usage Rights section of the item’s record.</p>
    <h2 id="feedbad-in-dc">What if I have feedback on the site, its functionality, or Yale's descriptions?</h2>
    <p>We welcome feedback on the Digital Collections site and how we describe the material it contains. The footer of our site includes a Feedback link; Yale Library staff will review and respond to any feedback submitted through that link.</p>
    <h2 id="additional-resources-in-dc">Additional resources</h2>
    <p><a href="https://guides.library.yale.edu/specialcollections">Guide to Using Special Collections at Yale Univerity</a></p>
  </div>

</div>